<a href="https://colab.research.google.com/github/cm-avalos/ReactCMMA/blob/main/Python_Ing_C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = input("Ingrese su nombre: ")
apellido = input("Ingrese su apellido: ")
print("hola "+nombre+" "+apellido)

Ingrese su nombre: Felipe
Ingrese su apellido: Ordenes
hola Felipe Ordenes

In [ ]:
n1 = input("Ingrese numero1: ")
n2 = input("Ingrese numero2: ")
total = int(n1) * int(n2)
print("La suma es: "+str(total))

Ingrese numero1: 5
Ingrese numero2: 10
La suma es: 50

In [ ]:
altura1 = input("Ingrese altura 1: ")
altura2 = input("Ingrese altura 2: ")
altura3 = input("Ingrese altura 3: ")
promedio = (float(altura1)+float(altura2)+float(altura3))/3
print("El promedio de alturas es: "+str(promedio))

Ingrese altura 1: 1.8
Ingrese altura 2: 1.5
Ingrese altura 3: 2
El promedio de alturas es: 1.7666666666666666

In [ ]:
peso = input("Ingrese su peso: ")
altura = input("Ingrese su altura: ")
imc = float(peso)/(float(altura)*float(altura))
print("Su imc es: "+str(imc))

Ingrese su peso: 60
Ingrese su altura: 1.7
Su imc es: 20.761245674740486

In [ ]:
peso = input("Ingrese su peso: ")
altura = input("Ingrese su altura: ")
imc = float(peso)/(float(altura)**2)
print("Su imc es: "+str(imc))

In [ ]:
altura = input("Ingrese altura del cilindro: ")
radio = input("Ingrese radio del cilindro: ")
area = 2*3.14*float(radio)*(float(altura)+float(radio))
volumen = 3.14*float(radio)*float(radio)*float(altura)
print("El area es: "+str(area)+" el volumen es: "+str(volumen))

Ingrese altura del cilindro: 5
Ingrese radio del cilindro: 2
El area es: 87.92 el volumen es: 62.800000000000004

In [ ]:
altura = input("Ingrese altura del cilindro: ")
radio = input("Ingrese radio del cilindro: ")
a = float(altura)
r = float(radio)
area = 2*3.14*r*(a+r)
volumen = 3.14*r*r*a
print("El area es: "+str(area)+" el volumen es: "+str(volumen))

Ingrese altura del cilindro: 5
Ingrese radio del cilindro: 2
El area es: 87.92 el volumen es: 62.800000000000004

In [ ]:
d = 1
c = d + 5

In [ ]:
mes1 = input("Ingrese el ahorro del mes1: ")
mes2 = input("Ingrese el ahorro del mes2: ")
mes3 = input("Ingrese el ahorro del mes3: ")
suma = int(mes1) + int(mes2) + int(mes3)
print("Juan ahorro : "+str(suma))

Ingrese el ahorro del mes1: 2000
Ingrese el ahorro del mes2: 3000
Ingrese el ahorro del mes3: 200
Juan ahorro : 5200

In [ ]:
c_manzanas = input("Ingrese cuantas manzanas comprará: ")
v_manzana = input("Ingrese valor unitario de la manzana: ")
total = int(c_manzanas) * int(v_manzana)
descuento = total * 0.2
total_d = total - descuento
print("El total de su compra fue: "+str(total))
print("El descuento es de: "+str(descuento))
print("El total despues del descuento: "+str(total_d))

Ingrese cuantas manzanas comprará: 5
Ingrese valor unitario de la manzana: 100
El total de su compra fue: 500
El descuento es de: 100.0
El total despues del descuento: 400.0

In [ ]:
cualquiera = 11 % 3
print(cualquiera)

2

In [ ]:
c1 = 11//3
print(c1)

3

In [ ]:
km = input("Ingrese kms recorrido: ")
litros = input("Ingrese litros ocupados: ")
total = float(km)/float(litros)
print("Mi auto gasta: "+str(total))

Ingrese kms recorrido: 200
Ingrese litros ocupados: 24
Mi auto gasta: 8.333333333333334

# Condicionales

In [ ]:
edad = input("Ingrese su edad: ")
edad = int(edad) #Convertir string a int
if edad>=18:
  print("Acceso otorgado")
else:
  print("Acceso denegado")

Ingrese su edad: 6
Acceso denegado

In [ ]:
numero = input("Ingrese un numero: ")
numero = float(numero)
if numero>0:
  print("Es positivo")
elif numero<0:
  print("Es negativo")
else:
  print("es neutro")

Ingrese un numero: 0
es neutro

In [ ]:
numero = input("Ingrese un numero: ")
numero = float(numero)
if numero>0:
  print("Es positivo")
elif numero==0:
  print("Es neutro")
else:
  print("es negativo")

Ingrese un numero: 7
Es positivo

In [ ]:
sexo = input("Ingrese sexo: ")
if sexo=='F' or sexo=='f':
  print("Sexo femenino")
elif sexo=="M" or sexo=='m':
  print("Sexo masculino")
else:
  print("Te equivocaste")

Ingrese sexo: m
Sexo masculino

In [ ]:
total = input("Ingrese total de la compra: ")
camisas = input("Ingrese numero de camisas: ")
total = int(total)
camisas = int(camisas)
if camisas>=3:
  descuento = total*0.2
else:
  descuento = total*0.1
total = total - descuento
print("El total es: "+str(total))

Ingrese total de la compra: 10000
Ingrese numero de camisas: 5
El total es: 8000.0

In [ ]:
c_productos = input("Ingrese cantidad de productos: ")
c_productos = int(c_productos)
if c_productos<=25:
  total = 2770*c_productos
elif c_productos<=50:
  total = 2550*c_productos

elif c_productos<=75:
  total = 2350*c_productos

else:
  total = 2015*c_productos

print(total)

Ingrese cantidad de productos: 10
27700

In [ ]:
#if anidados
hora = input("Ingrese hora: ")
minutos = input("Ingrese minutos: ")
hora = int(hora)
minutos = int(minutos)
if hora==17:
  if minutos==20:
    print("La clase ha comenzado")
  elif minutos<20:
    print("La clase aun no comienza")
  else:
    print("La clase ya comenzo, vas tarde por unos minutos")
elif hora<17:
  print()

Ingrese hora: 17
Ingrese minutos: 10
La clase ya comenzo, vas tarde

guia

7.	Un obrero necesita calcular su salario semanal, el cual se obtiene de la sig. manera:

* Si trabaja 40 horas o menos se le paga 1600 por hora
* Si trabaja más de 40 horas se le paga 1600 por cada una de las primeras 40 horas y $2000 por cada hora extra.

In [ ]:
horas = int(input("Ingrese numero de horas: "))
if horas <= 40:
  total = horas * 1600
else:
  diferencia = horas - 40
  total = 40 * 1600
  total = total + (diferencia*2000)
print("el sueldo total es: "+str(total))

Ingrese numero de horas: 60
el sueldo total es: 104000

8.	Escribir un programa para solicitar al usuario tres números y mostrar en pantalla al menor de los tres.

In [ ]:
n1 = int(input("Ingrese n1: "))
n2 = int(input("Ingrese n2: "))
n3 = int(input("Ingrese n3: "))
if n1<n2 and n1<n3:
  print("El primer numero es menor")
elif n2<n1 and n2<n3:
  print("El segundo numero es menor")
elif n3<n1 and n3<n2:
  print("El tercer numero es menor")

Ingrese n1: 2
Ingrese n2: 2
Ingrese n3: 10

12.	El joven periodista Solarrabietas debe relatar un partido de tenis, pero no conoce las reglas del deporte. En particular, no ha logrado aprender cómo saber si un set ya terminó, y quién lo ganó.

Un partido de tenis se divide en sets. Para ganar un set, un jugador debe ganar 6 juegos, pero además debe haber ganado por lo menos dos juegos más que su rival. Si el set está empatado a 5 juegos, el ganador es el primero que llegue a 7. Si el set está empatado a 6 juegos, el set se define en un último juego, en cuyo caso el resultado final es 7-6.

Sabiendo que el jugador A ha ganado m juegos, y el jugador B, n juegos, al periodista le gustaría saber:
o	si A ganó el set, o
o	si B ganó el set, o
o	si el set todavía no termina, o
o	si el resultado es inválido (por ejemplo, 8-6 o 7-3).
o	Desarrolle un programa que solucione el problema de Solarrabietas

In [ ]:
a = int(input("Ingrese juegos ganados de A: "))
b = int(input("Ingrese juegos ganados de B: "))
if a == 6 and b<a:
  if a-b >= 2:
    print("A es el ganador")
  else:
    print("Falta un juego para que A gane")
elif a == 6 and b == 6:
  print("Falta un set para indicar el ganador")
elif b == 6 and a<b:
  if b-a >= 2:
    print("B es el ganador")
  else:
    print("Falta un juego para que B gane")

else:
  print("El resultado es invalido")

Ingrese juegos ganados de A: 7
Ingrese juegos ganados de B: 8
El resultado es invalido

# Ciclos

While

In [ ]:
meses = int(input("Ingrese numero de meses: "))
c_ciclos = 0
ahorro_total = 0
while c_ciclos < meses :
  ahorro_mensual = int(input("Ingrese ahorro del mes "+str(c_ciclos+1)))  
  ahorro_total = ahorro_mensual + ahorro_total
  c_ciclos = c_ciclos + 1
print("El ahorro total es: "+str(ahorro_total))

In [ ]:
notas = 3
contador = 0
suma = 0
while contador < notas :
  nota = float(input("Ingrese nota "+str(contador+1)+": "))
  suma = suma + nota
  contador = contador + 1
promedio = suma / notas
print("Su promedio es: "+str(promedio))

In [ ]:
i = 0
alumnos = int(input("Ingrese numero de alumnos: "))
while i < alumnos :
  nombre = input("Ingrese nombre: ")
  print("Bienvenido a IP "+nombre)
  i = i + 1

Ingrese numero de alumnos: 3
Ingrese nombre: luis
Bienvenido a IP luis
Ingrese nombre: damian
Bienvenido a IP damian
Ingrese nombre: benjamin
Bienvenido a IP benjamin

In [ ]:
i = 0
while i < 2 :
  num = float(input("Ingrese un numero: "))
  cubo = num ** 3
  cuarta = num ** 4
  print("Su cubo es: "+str(cubo))
  print("Su cuarta es: "+str(cuarta))
  i = i +1

Ingrese un numero: 2
Su cubo es: 8.0
Su cuarta es: 16.0
Ingrese un numero: 4
Su cubo es: 64.0
Su cuarta es: 256.0

In [ ]:
i = 0
while i < 2:
  num = float(input("Ingresar numero "+str(i+1)+": "))
  if num > 0 :
    print(str(num)+ " es positivo")
  i = i + 1

Ingresar numero 1: 1
1.0 es positivo
Ingresar numero 2: -55

8.	Simular el comportamiento de un reloj digital, imprimiendo la hora, minutos y segundos de un día desde las 0:00:00 horas hasta las 23:59:59 horas.

In [ ]:
hrs = 0
min = 0
seg = 0

while hrs < 24:
  while min < 60:
    while seg < 60:
      print(str(hrs)+":"+str(min)+":"+str(seg))
      seg += 1
    min += 1
    seg = 0
  hrs += 1
  min = 0

Se han truncado las últimas 5000 líneas del flujo de salida.
22:36:40
22:36:41
22:36:42
22:36:43
22:36:44
22:36:45
22:36:46
22:36:47
22:36:48
22:36:49
22:36:50
22:36:51
22:36:52
22:36:53
22:36:54
22:36:55
22:36:56
22:36:57
22:36:58
22:36:59
22:37:0
22:37:1
22:37:2
22:37:3
22:37:4
22:37:5
22:37:6
22:37:7
22:37:8
22:37:9
22:37:10
22:37:11
22:37:12
22:37:13
22:37:14
22:37:15
22:37:16
22:37:17
22:37:18
22:37:19
22:37:20
22:37:21
22:37:22
22:37:23
22:37:24
22:37:25
22:37:26
22:37:27
22:37:28
22:37:29
22:37:30
22:37:31
22:37:32
22:37:33
22:37:34
22:37:35
22:37:36
22:37:37
22:37:38
22:37:39
22:37:40
22:37:41
22:37:42
22:37:43
22:37:44
22:37:45
22:37:46
22:37:47
22:37:48
22:37:49
22:37:50
22:37:51
22:37:52
22:37:53
22:37:54
22:37:55
22:37:56
22:37:57
22:37:58
22:37:59
22:38:0
22:38:1
22:38:2
22:38:3
22:38:4
22:38:5
22:38:6
22:38:7
22:38:8
22:38:9
22:38:10
22:38:11
22:38:12
22:38:13
22:38:14
22:38:15
22:38:16
22:38:17
22:38:18
22:38:19
22:38:20
22:38:21
22:38:22
22:38:23
22:38:24
22:38:25
22:38:26
22:38:27
22:38:28
22:38:29
22:38:30
22:38:31
22:38:32
22:38:33
22:38:34
22:38:35
22:38:36
22:38:37
22:38:38
22:38:39
22:38:40
22:38:41
22:38:42
22:38:43
22:38:44
22:38:45
22:38:46
22:38:47
22:38:48
22:38:49
22:38:50
22:38:51
22:38:52
22:38:53
22:38:54
22:38:55
22:38:56
22:38:57
22:38:58
22:38:59
22:39:0
22:39:1
22:39:2
22:39:3
22:39:4
22:39:5
22:39:6
22:39:7
22:39:8
22:39:9
22:39:10
22:39:11
22:39:12
22:39:13
22:39:14
22:39:15
22:39:16
22:39:17
22:39:18
22:39:19
22:39:20
22:39:21
22:39:22
22:39:23
22:39:24
22:39:25
22:39:26
22:39:27
22:39:28
22:39:29
22:39:30
22:39:31
22:39:32
22:39:33
22:39:34
22:39:35
22:39:36
22:39:37
22:39:38
22:39:39
22:39:40
22:39:41
22:39:42
22:39:43
22:39:44
22:39:45
22:39:46
22:39:47
22:39:48
22:39:49
22:39:50
22:39:51
22:39:52
22:39:53
22:39:54
22:39:55
22:39:56
22:39:57
22:39:58
22:39:59
22:40:0
22:40:1
22:40:2
22:40:3
22:40:4
22:40:5
22:40:6
22:40:7
22:40:8
22:40:9
22:40:10
22:40:11
22:40:12
22:40:13
22:40:14
22:40:15
22:40:16
22:40:17
22:40:18
22:40:19
22:40:20
22:40:21
22:40:22
22:40:23
22:40:24
22:40:25
22:40:26
22:40:27
22:40:28
22:40:29
22:40:30
22:40:31
22:40:32
22:40:33
22:40:34
22:40:35
22:40:36
22:40:37
22:40:38
22:40:39
22:40:40
22:40:41
22:40:42
22:40:43
22:40:44
22:40:45
22:40:46
22:40:47
22:40:48
22:40:49
22:40:50
22:40:51
22:40:52
22:40:53
22:40:54
22:40:55
22:40:56
22:40:57
22:40:58
22:40:59
22:41:0
22:41:1
22:41:2
22:41:3
22:41:4
22:41:5
22:41:6
22:41:7
22:41:8
22:41:9
22:41:10
22:41:11
22:41:12
22:41:13
22:41:14
22:41:15
22:41:16
22:41:17
22:41:18
22:41:19
22:41:20
22:41:21
22:41:22
22:41:23
22:41:24
22:41:25
22:41:26
22:41:27
22:41:28
22:41:29
22:41:30
22:41:31
22:41:32
22:41:33
22:41:34
22:41:35
22:41:36
22:41:37
22:41:38
22:41:39
22:41:40
22:41:41
22:41:42
22:41:43
22:41:44
22:41:45
22:41:46
22:41:47
22:41:48
22:41:49
22:41:50
22:41:51
22:41:52
22:41:53
22:41:54
22:41:55
22:41:56
22:41:57
22:41:58
22:41:59
22:42:0
22:42:1
22:42:2
22:42:3
22:42:4
22:42:5
22:42:6
22:42:7
22:42:8
22:42:9
22:42:10
22:42:11
22:42:12
22:42:13
22:42:14
22:42:15
22:42:16
22:42:17
22:42:18
22:42:19
22:42:20
22:42:21
22:42:22
22:42:23
22:42:24
22:42:25
22:42:26
22:42:27
22:42:28
22:42:29
22:42:30
22:42:31
22:42:32
22:42:33
22:42:34
22:42:35
22:42:36
22:42:37
22:42:38
22:42:39
22:42:40
22:42:41
22:42:42
22:42:43
22:42:44
22:42:45
22:42:46
22:42:47
22:42:48
22:42:49
22:42:50
22:42:51
22:42:52
22:42:53
22:42:54
22:42:55
22:42:56
22:42:57
22:42:58
22:42:59
22:43:0
22:43:1
22:43:2
22:43:3
22:43:4
22:43:5
22:43:6
22:43:7
22:43:8
22:43:9
22:43:10
22:43:11
22:43:12
22:43:13
22:43:14
22:43:15
22:43:16
22:43:17
22:43:18
22:43:19
22:43:20
22:43:21
22:43:22
22:43:23
22:43:24
22:43:25
22:43:26
22:43:27
22:43:28
22:43:29
22:43:30
22:43:31
22:43:32
22:43:33
22:43:34
22:43:35
22:43:36
22:43:37
22:43:38
22:43:39
22:43:40
22:43:41
22:43:42
22:43:43
22:43:44
22:43:45
22:43:46
22:43:47
22:43:48
22:43:49
22:43:50
22:43:51
22:43:52
22:43:53
22:43:54
22:43:55
22:43:56
22:43:57
22:43:58
22:43:59
22:44:0
22:44:1
22:44:2
22:44:3
22:44:4
22:44:5
22:44:6
22:44:7
22:44:8
22:44:9
22:44:10
22:44:11
22:44:12
22:44:13
22:44:14
22:44:15
22:44:16
22:44:17
22:44:18
22:44:19
22:44:20
22:44:21
22:44:22
22:44:23
22:44:24
22:44:25
22:44:26
22:44:27
22:44:28
22:44:29
22:44:30
22:44:31
22:44:32
22:44:33
22:44:34
22:44:35
22:44:36
22:44:37
22:44:38
22:44:39
22:44:40
22:44:41
22:44:42
22:44:43
22:44:44
22:44:45
22:44:46
22:44:47
22:44:48
22:44:49
22:44:50
22:44:51
22:44:52
22:44:53
22:44:54
22:44:55
22:44:56
22:44:57
22:44:58
22:44:59
22:45:0
22:45:1
22:45:2
22:45:3
22:45:4
22:45:5
22:45:6
22:45:7
22:45:8
22:45:9
22:45:10
22:45:11
22:45:12
22:45:13
22:45:14
22:45:15
22:45:16
22:45:17
22:45:18
22:45:19
22:45:20
22:45:21
22:45:22
22:45:23
22:45:24
22:45:25
22:45:26
22:45:27
22:45:28
22:45:29
22:45:30
22:45:31
22:45:32
22:45:33
22:45:34
22:45:35
22:45:36
22:45:37
22:45:38
22:45:39
22:45:40
22:45:41
22:45:42
22:45:43
22:45:44
22:45:45
22:45:46
22:45:47
22:45:48
22:45:49
22:45:50
22:45:51
22:45:52
22:45:53
22:45:54
22:45:55
22:45:56
22:45:57
22:45:58
22:45:59
22:46:0
22:46:1
22:46:2
22:46:3
22:46:4
22:46:5
22:46:6
22:46:7
22:46:8
22:46:9
22:46:10
22:46:11
22:46:12
22:46:13
22:46:14
22:46:15
22:46:16
22:46:17
22:46:18
22:46:19
22:46:20
22:46:21
22:46:22
22:46:23
22:46:24
22:46:25
22:46:26
22:46:27
22:46:28
22:46:29
22:46:30
22:46:31
22:46:32
22:46:33
22:46:34
22:46:35
22:46:36
22:46:37
22:46:38
22:46:39
22:46:40
22:46:41
22:46:42
22:46:43
22:46:44
22:46:45
22:46:46
22:46:47
22:46:48
22:46:49
22:46:50
22:46:51
22:46:52
22:46:53
22:46:54
22:46:55
22:46:56
22:46:57
22:46:58
22:46:59
22:47:0
22:47:1
22:47:2
22:47:3
22:47:4
22:47:5
22:47:6
22:47:7
22:47:8
22:47:9
22:47:10
22:47:11
22:47:12
22:47:13
22:47:14
22:47:15
22:47:16
22:47:17
22:47:18
22:47:19
22:47:20
22:47:21
22:47:22
22:47:23
22:47:24
22:47:25
22:47:26
22:47:27
22:47:28
22:47:29
22:47:30
22:47:31
22:47:32
22:47:33
22:47:34
22:47:35
22:47:36
22:47:37
22:47:38
22:47:39
22:47:40
22:47:41
22:47:42
22:47:43
22:47:44
22:47:45
22:47:46
22:47:47
22:47:48
22:47:49
22:47:50
22:47:51
22:47:52
22:47:53
22:47:54
22:47:55
22:47:56
22:47:57
22:47:58
22:47:59
22:48:0
22:48:1
22:48:2
22:48:3
22:48:4
22:48:5
22:48:6
22:48:7
22:48:8
22:48:9
22:48:10
22:48:11
22:48:12
22:48:13
22:48:14
22:48:15
22:48:16
22:48:17
22:48:18
22:48:19
22:48:20
22:48:21
22:48:22
22:48:23
22:48:24
22:48:25
22:48:26
22:48:27
22:48:28
22:48:29
22:48:30
22:48:31
22:48:32
22:48:33
22:48:34
22:48:35
22:48:36
22:48:37
22:48:38
22:48:39
22:48:40
22:48:41
22:48:42
22:48:43
22:48:44
22:48:45
22:48:46
22:48:47
22:48:48
22:48:49
22:48:50
22:48:51
22:48:52
22:48:53
22:48:54
22:48:55
22:48:56
22:48:57
22:48:58
22:48:59
22:49:0
22:49:1
22:49:2
22:49:3
22:49:4
22:49:5
22:49:6
22:49:7
22:49:8
22:49:9
22:49:10
22:49:11
22:49:12
22:49:13
22:49:14
22:49:15
22:49:16
22:49:17
22:49:18
22:49:19
22:49:20
22:49:21
22:49:22
22:49:23
22:49:24
22:49:25
22:49:26
22:49:27
22:49:28
22:49:29
22:49:30
22:49:31
22:49:32
22:49:33
22:49:34
22:49:35
22:49:36
22:49:37
22:49:38
22:49:39
22:49:40
22:49:41
22:49:42
22:49:43
22:49:44
22:49:45
22:49:46
22:49:47
22:49:48
22:49:49
22:49:50
22:49:51
22:49:52
22:49:53
22:49:54
22:49:55
22:49:56
22:49:57
22:49:58
22:49:59
22:50:0
22:50:1
22:50:2
22:50:3
22:50:4
22:50:5
22:50:6
22:50:7
22:50:8
22:50:9
22:50:10
22:50:11
22:50:12
22:50:13
22:50:14
22:50:15
22:50:16
22:50:17
22:50:18
22:50:19
22:50:20
22:50:21
22:50:22
22:50:23
22:50:24
22:50:25
22:50:26
22:50:27
22:50:28
22:50:29
22:50:30
22:50:31
22:50:32
22:50:33
22:50:34
22:50:35
22:50:36
22:50:37
22:50:38
22:50:39
22:50:40
22:50:41
22:50:42
22:50:43
22:50:44
22:50:45
22:50:46
22:50:47
22:50:48
22:50:49
22:50:50
22:50:51
22:50:52
22:50:53
22:50:54
22:50:55
22:50:56
22:50:57
22:50:58
22:50:59
22:51:0
22:51:1
22:51:2
22:51:3
22:51:4
22:51:5
22:51:6
22:51:7
22:51:8
22:51:9
22:51:10
22:51:11
22:51:12
22:51:13
22:51:14
22:51:15
22:51:16
22:51:17
22:51:18
22:51:19
22:51:20
22:51:21
22:51:22
22:51:23
22:51:24
22:51:25
22:51:26
22:51:27
22:51:28
22:51:29
22:51:30
22:51:31
22:51:32
22:51:33
22:51:34
22:51:35
22:51:36
22:51:37
22:51:38
22:51:39
22:51:40
22:51:41
22:51:42
22:51:43
22:51:44
22:51:45
22:51:46
22:51:47
22:51:48
22:51:49
22:51:50
22:51:51
22:51:52
22:51:53
22:51:54
22:51:55
22:51:56
22:51:57
22:51:58
22:51:59
22:52:0
22:52:1
22:52:2
22:52:3
22:52:4
22:52:5
22:52:6
22:52:7
22:52:8
22:52:9
22:52:10
22:52:11
22:52:12
22:52:13
22:52:14
22:52:15
22:52:16
22:52:17
22:52:18
22:52:19
22:52:20
22:52:21
22:52:22
22:52:23
22:52:24
22:52:25
22:52:26
22:52:27
22:52:28
22:52:29
22:52:30
22:52:31
22:52:32
22:52:33
22:52:34
22:52:35
22:52:36
22:52:37
22:52:38
22:52:39
22:52:40
22:52:41
22:52:42
22:52:43
22:52:44
22:52:45
22:52:46
22:52:47
22:52:48
22:52:49
22:52:50
22:52:51
22:52:52
22:52:53
22:52:54
22:52:55
22:52:56
22:52:57
22:52:58
22:52:59
22:53:0
22:53:1
22:53:2
22:53:3
22:53:4
22:53:5
22:53:6
22:53:7
22:53:8
22:53:9
22:53:10
22:53:11
22:53:12
22:53:13
22:53:14
22:53:15
22:53:16
22:53:17
22:53:18
22:53:19
22:53:20
22:53:21
22:53:22
22:53:23
22:53:24
22:53:25
22:53:26
22:53:27
22:53:28
22:53:29
22:53:30
22:53:31
22:53:32
22:53:33
22:53:34
22:53:35
22:53:36
22:53:37
22:53:38
22:53:39
22:53:40
22:53:41
22:53:42
22:53:43
22:53:44
22:53:45
22:53:46
22:53:47
22:53:48
22:53:49
22:53:50
22:53:51
22:53:52
22:53:53
22:53:54
22:53:55
22:53:56
22:53:57
22:53:58
22:53:59
22:54:0
22:54:1
22:54:2
22:54:3
22:54:4
22:54:5
22:54:6
22:54:7
22:54:8
22:54:9
22:54:10
22:54:11
22:54:12
22:54:13
22:54:14
22:54:15
22:54:16
22:54:17
22:54:18
22:54:19
22:54:20
22:54:21
22:54:22
22:54:23
22:54:24
22:54:25
22:54:26
22:54:27
22:54:28
22:54:29
22:54:30
22:54:31
22:54:32
22:54:33
22:54:34
22:54:35
22:54:36
22:54:37
22:54:38
22:54:39
22:54:40
22:54:41
22:54:42
22:54:43
22:54:44
22:54:45
22:54:46
22:54:47
22:54:48
22:54:49
22:54:50
22:54:51
22:54:52
22:54:53
22:54:54
22:54:55
22:54:56
22:54:57
22:54:58
22:54:59
22:55:0
22:55:1
22:55:2
22:55:3
22:55:4
22:55:5
22:55:6
22:55:7
22:55:8
22:55:9
22:55:10
22:55:11
22:55:12
22:55:13
22:55:14
22:55:15
22:55:16
22:55:17
22:55:18
22:55:19
22:55:20
22:55:21
22:55:22
22:55:23
22:55:24
22:55:25
22:55:26
22:55:27
22:55:28
22:55:29
22:55:30
22:55:31
22:55:32
22:55:33
22:55:34
22:55:35
22:55:36
22:55:37
22:55:38
22:55:39
22:55:40
22:55:41
22:55:42
22:55:43
22:55:44
22:55:45
22:55:46
22:55:47
22:55:48
22:55:49
22:55:50
22:55:51
22:55:52
22:55:53
22:55:54
22:55:55
22:55:56
22:55:57
22:55:58
22:55:59
22:56:0
22:56:1
22:56:2
22:56:3
22:56:4
22:56:5
22:56:6
22:56:7
22:56:8
22:56:9
22:56:10
22:56:11
22:56:12
22:56:13
22:56:14
22:56:15
22:56:16
22:56:17
22:56:18
22:56:19
22:56:20
22:56:21
22:56:22
22:56:23
22:56:24
22:56:25
22:56:26
22:56:27
22:56:28
22:56:29
22:56:30
22:56:31
22:56:32
22:56:33
22:56:34
22:56:35
22:56:36
22:56:37
22:56:38
22:56:39
22:56:40
22:56:41
22:56:42
22:56:43
22:56:44
22:56:45
22:56:46
22:56:47
22:56:48
22:56:49
22:56:50
22:56:51
22:56:52
22:56:53
22:56:54
22:56:55
22:56:56
22:56:57
22:56:58
22:56:59
22:57:0
22:57:1
22:57:2
22:57:3
22:57:4
22:57:5
22:57:6
22:57:7
22:57:8
22:57:9
22:57:10
22:57:11
22:57:12
22:57:13
22:57:14
22:57:15
22:57:16
22:57:17
22:57:18
22:57:19
22:57:20
22:57:21
22:57:22
22:57:23
22:57:24
22:57:25
22:57:26
22:57:27
22:57:28
22:57:29
22:57:30
22:57:31
22:57:32
22:57:33
22:57:34
22:57:35
22:57:36
22:57:37
22:57:38
22:57:39
22:57:40
22:57:41
22:57:42
22:57:43
22:57:44
22:57:45
22:57:46
22:57:47
22:57:48
22:57:49
22:57:50
22:57:51
22:57:52
22:57:53
22:57:54
22:57:55
22:57:56
22:57:57
22:57:58
22:57:59
22:58:0
22:58:1
22:58:2
22:58:3
22:58:4
22:58:5
22:58:6
22:58:7
22:58:8
22:58:9
22:58:10
22:58:11
22:58:12
22:58:13
22:58:14
22:58:15
22:58:16
22:58:17
22:58:18
22:58:19
22:58:20
22:58:21
22:58:22
22:58:23
22:58:24
22:58:25
22:58:26
22:58:27
22:58:28
22:58:29
22:58:30
22:58:31
22:58:32
22:58:33
22:58:34
22:58:35
22:58:36
22:58:37
22:58:38
22:58:39
22:58:40
22:58:41
22:58:42
22:58:43
22:58:44
22:58:45
22:58:46
22:58:47
22:58:48
22:58:49
22:58:50
22:58:51
22:58:52
22:58:53
22:58:54
22:58:55
22:58:56
22:58:57
22:58:58
22:58:59
22:59:0
22:59:1
22:59:2
22:59:3
22:59:4
22:59:5
22:59:6
22:59:7
22:59:8
22:59:9
22:59:10
22:59:11
22:59:12
22:59:13
22:59:14
22:59:15
22:59:16
22:59:17
22:59:18
22:59:19
22:59:20
22:59:21
22:59:22
22:59:23
22:59:24
22:59:25
22:59:26
22:59:27
22:59:28
22:59:29
22:59:30
22:59:31
22:59:32
22:59:33
22:59:34
22:59:35
22:59:36
22:59:37
22:59:38
22:59:39
22:59:40
22:59:41
22:59:42
22:59:43
22:59:44
22:59:45
22:59:46
22:59:47
22:59:48
22:59:49
22:59:50
22:59:51
22:59:52
22:59:53
22:59:54
22:59:55
22:59:56
22:59:57
22:59:58
22:59:59
23:0:0
23:0:1
23:0:2
23:0:3
23:0:4
23:0:5
23:0:6
23:0:7
23:0:8
23:0:9
23:0:10
23:0:11
23:0:12
23:0:13
23:0:14
23:0:15
23:0:16
23:0:17
23:0:18
23:0:19
23:0:20
23:0:21
23:0:22
23:0:23
23:0:24
23:0:25
23:0:26
23:0:27
23:0:28
23:0:29
23:0:30
23:0:31
23:0:32
23:0:33
23:0:34
23:0:35
23:0:36
23:0:37
23:0:38
23:0:39
23:0:40
23:0:41
23:0:42
23:0:43
23:0:44
23:0:45
23:0:46
23:0:47
23:0:48
23:0:49
23:0:50
23:0:51
23:0:52
23:0:53
23:0:54
23:0:55
23:0:56
23:0:57
23:0:58
23:0:59
23:1:0
23:1:1
23:1:2
23:1:3
23:1:4
23:1:5
23:1:6
23:1:7
23:1:8
23:1:9
23:1:10
23:1:11
23:1:12
23:1:13
23:1:14
23:1:15
23:1:16
23:1:17
23:1:18
23:1:19
23:1:20
23:1:21
23:1:22
23:1:23
23:1:24
23:1:25
23:1:26
23:1:27
23:1:28
23:1:29
23:1:30
23:1:31
23:1:32
23:1:33
23:1:34
23:1:35
23:1:36
23:1:37
23:1:38
23:1:39
23:1:40
23:1:41
23:1:42
23:1:43
23:1:44
23:1:45
23:1:46
23:1:47
23:1:48
23:1:49
23:1:50
23:1:51
23:1:52
23:1:53
23:1:54
23:1:55
23:1:56
23:1:57
23:1:58
23:1:59
23:2:0
23:2:1
23:2:2
23:2:3
23:2:4
23:2:5
23:2:6
23:2:7
23:2:8
23:2:9
23:2:10
23:2:11
23:2:12
23:2:13
23:2:14
23:2:15
23:2:16
23:2:17
23:2:18
23:2:19
23:2:20
23:2:21
23:2:22
23:2:23
23:2:24
23:2:25
23:2:26
23:2:27
23:2:28
23:2:29
23:2:30
23:2:31
23:2:32
23:2:33
23:2:34
23:2:35
23:2:36
23:2:37
23:2:38
23:2:39
23:2:40
23:2:41
23:2:42
23:2:43
23:2:44
23:2:45
23:2:46
23:2:47
23:2:48
23:2:49
23:2:50
23:2:51
23:2:52
23:2:53
23:2:54
23:2:55
23:2:56
23:2:57
23:2:58
23:2:59
23:3:0
23:3:1
23:3:2
23:3:3
23:3:4
23:3:5
23:3:6
23:3:7
23:3:8
23:3:9
23:3:10
23:3:11
23:3:12
23:3:13
23:3:14
23:3:15
23:3:16
23:3:17
23:3:18
23:3:19
23:3:20
23:3:21
23:3:22
23:3:23
23:3:24
23:3:25
23:3:26
23:3:27
23:3:28
23:3:29
23:3:30
23:3:31
23:3:32
23:3:33
23:3:34
23:3:35
23:3:36
23:3:37
23:3:38
23:3:39
23:3:40
23:3:41
23:3:42
23:3:43
23:3:44
23:3:45
23:3:46
23:3:47
23:3:48
23:3:49
23:3:50
23:3:51
23:3:52
23:3:53
23:3:54
23:3:55
23:3:56
23:3:57
23:3:58
23:3:59
23:4:0
23:4:1
23:4:2
23:4:3
23:4:4
23:4:5
23:4:6
23:4:7
23:4:8
23:4:9
23:4:10
23:4:11
23:4:12
23:4:13
23:4:14
23:4:15
23:4:16
23:4:17
23:4:18
23:4:19
23:4:20
23:4:21
23:4:22
23:4:23
23:4:24
23:4:25
23:4:26
23:4:27
23:4:28
23:4:29
23:4:30
23:4:31
23:4:32
23:4:33
23:4:34
23:4:35
23:4:36
23:4:37
23:4:38
23:4:39
23:4:40
23:4:41
23:4:42
23:4:43
23:4:44
23:4:45
23:4:46
23:4:47
23:4:48
23:4:49
23:4:50
23:4:51
23:4:52
23:4:53
23:4:54
23:4:55
23:4:56
23:4:57
23:4:58
23:4:59
23:5:0
23:5:1
23:5:2
23:5:3
23:5:4
23:5:5
23:5:6
23:5:7
23:5:8
23:5:9
23:5:10
23:5:11
23:5:12
23:5:13
23:5:14
23:5:15
23:5:16
23:5:17
23:5:18
23:5:19
23:5:20
23:5:21
23:5:22
23:5:23
23:5:24
23:5:25
23:5:26
23:5:27
23:5:28
23:5:29
23:5:30
23:5:31
23:5:32
23:5:33
23:5:34
23:5:35
23:5:36
23:5:37
23:5:38
23:5:39
23:5:40
23:5:41
23:5:42
23:5:43
23:5:44
23:5:45
23:5:46
23:5:47
23:5:48
23:5:49
23:5:50
23:5:51
23:5:52
23:5:53
23:5:54
23:5:55
23:5:56
23:5:57
23:5:58
23:5:59
23:6:0
23:6:1
23:6:2
23:6:3
23:6:4
23:6:5
23:6:6
23:6:7
23:6:8
23:6:9
23:6:10
23:6:11
23:6:12
23:6:13
23:6:14
23:6:15
23:6:16
23:6:17
23:6:18
23:6:19
23:6:20
23:6:21
23:6:22
23:6:23
23:6:24
23:6:25
23:6:26
23:6:27
23:6:28
23:6:29
23:6:30
23:6:31
23:6:32
23:6:33
23:6:34
23:6:35
23:6:36
23:6:37
23:6:38
23:6:39
23:6:40
23:6:41
23:6:42
23:6:43
23:6:44
23:6:45
23:6:46
23:6:47
23:6:48
23:6:49
23:6:50
23:6:51
23:6:52
23:6:53
23:6:54
23:6:55
23:6:56
23:6:57
23:6:58
23:6:59
23:7:0
23:7:1
23:7:2
23:7:3
23:7:4
23:7:5
23:7:6
23:7:7
23:7:8
23:7:9
23:7:10
23:7:11
23:7:12
23:7:13
23:7:14
23:7:15
23:7:16
23:7:17
23:7:18
23:7:19
23:7:20
23:7:21
23:7:22
23:7:23
23:7:24
23:7:25
23:7:26
23:7:27
23:7:28
23:7:29
23:7:30
23:7:31
23:7:32
23:7:33
23:7:34
23:7:35
23:7:36
23:7:37
23:7:38
23:7:39
23:7:40
23:7:41
23:7:42
23:7:43
23:7:44
23:7:45
23:7:46
23:7:47
23:7:48
23:7:49
23:7:50
23:7:51
23:7:52
23:7:53
23:7:54
23:7:55
23:7:56
23:7:57
23:7:58
23:7:59
23:8:0
23:8:1
23:8:2
23:8:3
23:8:4
23:8:5
23:8:6
23:8:7
23:8:8
23:8:9
23:8:10
23:8:11
23:8:12
23:8:13
23:8:14
23:8:15
23:8:16
23:8:17
23:8:18
23:8:19
23:8:20
23:8:21
23:8:22
23:8:23
23:8:24
23:8:25
23:8:26
23:8:27
23:8:28
23:8:29
23:8:30
23:8:31
23:8:32
23:8:33
23:8:34
23:8:35
23:8:36
23:8:37
23:8:38
23:8:39
23:8:40
23:8:41
23:8:42
23:8:43
23:8:44
23:8:45
23:8:46
23:8:47
23:8:48
23:8:49
23:8:50
23:8:51
23:8:52
23:8:53
23:8:54
23:8:55
23:8:56
23:8:57
23:8:58
23:8:59
23:9:0
23:9:1
23:9:2
23:9:3
23:9:4
23:9:5
23:9:6
23:9:7
23:9:8
23:9:9
23:9:10
23:9:11
23:9:12
23:9:13
23:9:14
23:9:15
23:9:16
23:9:17
23:9:18
23:9:19
23:9:20
23:9:21
23:9:22
23:9:23
23:9:24
23:9:25
23:9:26
23:9:27
23:9:28
23:9:29
23:9:30
23:9:31
23:9:32
23:9:33
23:9:34
23:9:35
23:9:36
23:9:37
23:9:38
23:9:39
23:9:40
23:9:41
23:9:42
23:9:43
23:9:44
23:9:45
23:9:46
23:9:47
23:9:48
23:9:49
23:9:50
23:9:51
23:9:52
23:9:53
23:9:54
23:9:55
23:9:56
23:9:57
23:9:58
23:9:59
23:10:0
23:10:1
23:10:2
23:10:3
23:10:4
23:10:5
23:10:6
23:10:7
23:10:8
23:10:9
23:10:10
23:10:11
23:10:12
23:10:13
23:10:14
23:10:15
23:10:16
23:10:17
23:10:18
23:10:19
23:10:20
23:10:21
23:10:22
23:10:23
23:10:24
23:10:25
23:10:26
23:10:27
23:10:28
23:10:29
23:10:30
23:10:31
23:10:32
23:10:33
23:10:34
23:10:35
23:10:36
23:10:37
23:10:38
23:10:39
23:10:40
23:10:41
23:10:42
23:10:43
23:10:44
23:10:45
23:10:46
23:10:47
23:10:48
23:10:49
23:10:50
23:10:51
23:10:52
23:10:53
23:10:54
23:10:55
23:10:56
23:10:57
23:10:58
23:10:59
23:11:0
23:11:1
23:11:2
23:11:3
23:11:4
23:11:5
23:11:6
23:11:7
23:11:8
23:11:9
23:11:10
23:11:11
23:11:12
23:11:13
23:11:14
23:11:15
23:11:16
23:11:17
23:11:18
23:11:19
23:11:20
23:11:21
23:11:22
23:11:23
23:11:24
23:11:25
23:11:26
23:11:27
23:11:28
23:11:29
23:11:30
23:11:31
23:11:32
23:11:33
23:11:34
23:11:35
23:11:36
23:11:37
23:11:38
23:11:39
23:11:40
23:11:41
23:11:42
23:11:43
23:11:44
23:11:45
23:11:46
23:11:47
23:11:48
23:11:49
23:11:50
23:11:51
23:11:52
23:11:53
23:11:54
23:11:55
23:11:56
23:11:57
23:11:58
23:11:59
23:12:0
23:12:1
23:12:2
23:12:3
23:12:4
23:12:5
23:12:6
23:12:7
23:12:8
23:12:9
23:12:10
23:12:11
23:12:12
23:12:13
23:12:14
23:12:15
23:12:16
23:12:17
23:12:18
23:12:19
23:12:20
23:12:21
23:12:22
23:12:23
23:12:24
23:12:25
23:12:26
23:12:27
23:12:28
23:12:29
23:12:30
23:12:31
23:12:32
23:12:33
23:12:34
23:12:35
23:12:36
23:12:37
23:12:38
23:12:39
23:12:40
23:12:41
23:12:42
23:12:43
23:12:44
23:12:45
23:12:46
23:12:47
23:12:48
23:12:49
23:12:50
23:12:51
23:12:52
23:12:53
23:12:54
23:12:55
23:12:56
23:12:57
23:12:58
23:12:59
23:13:0
23:13:1
23:13:2
23:13:3
23:13:4
23:13:5
23:13:6
23:13:7
23:13:8
23:13:9
23:13:10
23:13:11
23:13:12
23:13:13
23:13:14
23:13:15
23:13:16
23:13:17
23:13:18
23:13:19
23:13:20
23:13:21
23:13:22
23:13:23
23:13:24
23:13:25
23:13:26
23:13:27
23:13:28
23:13:29
23:13:30
23:13:31
23:13:32
23:13:33
23:13:34
23:13:35
23:13:36
23:13:37
23:13:38
23:13:39
23:13:40
23:13:41
23:13:42
23:13:43
23:13:44
23:13:45
23:13:46
23:13:47
23:13:48
23:13:49
23:13:50
23:13:51
23:13:52
23:13:53
23:13:54
23:13:55
23:13:56
23:13:57
23:13:58
23:13:59
23:14:0
23:14:1
23:14:2
23:14:3
23:14:4
23:14:5
23:14:6
23:14:7
23:14:8
23:14:9
23:14:10
23:14:11
23:14:12
23:14:13
23:14:14
23:14:15
23:14:16
23:14:17
23:14:18
23:14:19
23:14:20
23:14:21
23:14:22
23:14:23
23:14:24
23:14:25
23:14:26
23:14:27
23:14:28
23:14:29
23:14:30
23:14:31
23:14:32
23:14:33
23:14:34
23:14:35
23:14:36
23:14:37
23:14:38
23:14:39
23:14:40
23:14:41
23:14:42
23:14:43
23:14:44
23:14:45
23:14:46
23:14:47
23:14:48
23:14:49
23:14:50
23:14:51
23:14:52
23:14:53
23:14:54
23:14:55
23:14:56
23:14:57
23:14:58
23:14:59
23:15:0
23:15:1
23:15:2
23:15:3
23:15:4
23:15:5
23:15:6
23:15:7
23:15:8
23:15:9
23:15:10
23:15:11
23:15:12
23:15:13
23:15:14
23:15:15
23:15:16
23:15:17
23:15:18
23:15:19
23:15:20
23:15:21
23:15:22
23:15:23
23:15:24

4.	Leer 20 números e imprimir cuantos son  positivos, cuantos negativos y cuantos neutros.

In [ ]:
i = 0
positivos = 0
negativos = 0
neutros = 0
while i < 3:
  n = float(input("Ingrese un numero"))
  if n > 0:
    positivos += 1 #positivos = positivos + 1
  elif n==0:
    neutros += 1
  else:
    negativos += 1
  i = i + 1
print("positivos: "+str(positivos))
print("negativos: "+str(negativos))
print("neutros: "+str(neutros))

Ingrese un numero5
Ingrese un numero7
Ingrese un numero2
positivos: 3
negativos: 0
neutros: 0

6.	Suponga que se tiene un conjunto de calificaciones de un grupo de 40 alumnos. Realizar un algoritmo para calcular la calificación media y la calificación más baja de todo el grupo.

In [ ]:
i = 0
baja = 7
suma = 0
while i<3:
  nota = float(input("Ingrese nota "+str((i+1))+": "))
  suma += nota # suma = suma + nota
  if nota<baja:
    baja = nota
  i+=1  #i = i + 1
promedio = suma / 3
print("promedio: "+str(promedio))
print("nota mas baja: "+str(baja))

Ingrese nota 1: 4.2
Ingrese nota 2: 3.5
Ingrese nota 3: 6
promedio: 4.566666666666666
nota mas baja: 3.5

11.	Escriba un programa que pida al usuario dos números enteros, y luego entregue la suma de todos los números que están entre ellos. Por ejemplo, si los números son 1 y 7, debe entregar como resultado 2 + 3 + 4 + 5 + 6 = 20.

In [ ]:
n1 = int(input("Ingrese un valor "))
n2 = int(input("Ingrese otro valor"))
suma = 0

if n1 < n2 :
  i = n1 + 1 
  f = n2
elif n2 < n1:
  i = n2 + 1
  f = n1
while i < f :
  suma += i
  i += 1
print(suma)

Ingrese un valor 7
Ingrese otro valor7
0

# for

In [ ]:
for numeros in range(6):
  print(numeros)

0
1
2
3
4
5

In [ ]:
i = 0
positivos = 0
negativos = 0
neutros = 0
for i in range(3): #while i < 3:
  n = float(input("Ingrese un numero"))
  if n > 0:
    positivos += 1 #positivos = positivos + 1
  elif n==0:
    neutros += 1
  else:
    negativos += 1
  #i = i + 1
print("positivos: "+str(positivos))
print("negativos: "+str(negativos))
print("neutros: "+str(neutros))

Ingrese un numero5
Ingrese un numero-7
Ingrese un numero55
positivos: 2
negativos: 1
neutros: 0

In [ ]:
op = "s"
while op=="s":
  print("hola")
  op = input("Desea continuar: (s/n) ")
print("chao")

hola
Desea continuar: (s/n) s
hola
Desea continuar: (s/n) s
hola
Desea continuar: (s/n) s
hola
Desea continuar: (s/n) n
chao

In [ ]:
for i in range(3,10):
  print(i)

3
4
5
6
7
8
9

In [ ]:
n1 = int(input("Ingrese un valor "))
n2 = int(input("Ingrese otro valor"))
suma = 0

if n1 < n2 :
  i = n1 + 1 
  f = n2
elif n2 < n1:
  i = n2 + 1
  f = n1
for x in range(i,f):
  suma += x
  
print(suma)

Ingrese un valor 7
Ingrese otro valor1
20

In [ ]:
for i in range(1,10,5):
  print(i)

1
6

In [ ]:
i = 1
while i < 10:
  print(i)
  i += 2

1
3
5
7
9

In [ ]:
for i in range(10,2,-1):
  print(i)

10
9
8
7
6
5
4
3

In [ ]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

Imprimir los números entre el 5 y el 20, saltando de tres en tres.

In [ ]:
for i in range(6,20,3):
  print(i)

6
9
12
15
18

Recorrer desde el 1 al 20 y solo mostrar los multiplos de 3

In [ ]:
for i in range(3,20,3):
  print(i)

3
6
9
12
15
18

In [ ]:
for i in range(1,20):
  if i%3 == 0:
    print(i)

3
6
9
12
15
18

## Guia 4

10.	Escriba un programa que genere todas las potencias de 2, desde 0 hasta la ingresada por el usuario

In [ ]:
t = int(input("Ingrese potencias a calcular: "))
for i in range(t):
  print(2**i)

Ingrese potencias a calcular: 4
1
2
4
8

12.	Imprimir del 0 al 9 con un incremento de 0.1. Ej.- 0, 0.1, 0.2 … 0.9, 1,1.1,…8.9,9

In [ ]:
n = 0
l = 0
for i in range(0,90): 
  l += 0.1
  print("{0:.1f}".format(l))

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0
1.1
1.2
1.3
1.4
1.5
1.6
1.7
1.8
1.9
2.0
2.1
2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
3.0
3.1
3.2
3.3
3.4
3.5
3.6
3.7
3.8
3.9
4.0
4.1
4.2
4.3
4.4
4.5
4.6
4.7
4.8
4.9
5.0
5.1
5.2
5.3
5.4
5.5
5.6
5.7
5.8
5.9
6.0
6.1
6.2
6.3
6.4
6.5
6.6
6.7
6.8
6.9
7.0
7.1
7.2
7.3
7.4
7.5
7.6
7.7
7.8
7.9
8.0
8.1
8.2
8.3
8.4
8.5
8.6
8.7
8.8
8.9
9.0

In [ ]:
for n in range(0,91):
  n = n*0.1
  print(n)

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9
1.0
1.1
1.2000000000000002
1.3
1.4000000000000001
1.5
1.6
1.7000000000000002
1.8
1.9000000000000001
2.0
2.1
2.2
2.3000000000000003
2.4000000000000004
2.5
2.6
2.7
2.8000000000000003
2.9000000000000004
3.0
3.1
3.2
3.3000000000000003
3.4000000000000004
3.5
3.6
3.7
3.8000000000000003
3.9000000000000004
4.0
4.1000000000000005
4.2
4.3
4.4
4.5
4.6000000000000005
4.7
4.800000000000001
4.9
5.0
5.1000000000000005
5.2
5.300000000000001
5.4
5.5
5.6000000000000005
5.7
5.800000000000001
5.9
6.0
6.1000000000000005
6.2
6.300000000000001
6.4
6.5
6.6000000000000005
6.7
6.800000000000001
6.9
7.0
7.1000000000000005
7.2
7.300000000000001
7.4
7.5
7.6000000000000005
7.7
7.800000000000001
7.9
8.0
8.1
8.200000000000001
8.3
8.4
8.5
8.6
8.700000000000001
8.8
8.9
9.0

In [ ]:
i 0 j 0
i 0 j 1
i 0 j 2
i 0 j 9
i 1 j 0

In [ ]:
for i in range(0,10):
  if i != 9:
    for j in range(0,10):
      print(str(i)+"."+str(j))
  else:
    print(str(i))

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0
1.1
1.2
1.3
1.4
1.5
1.6
1.7
1.8
1.9
2.0
2.1
2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
3.0
3.1
3.2
3.3
3.4
3.5
3.6
3.7
3.8
3.9
4.0
4.1
4.2
4.3
4.4
4.5
4.6
4.7
4.8
4.9
5.0
5.1
5.2
5.3
5.4
5.5
5.6
5.7
5.8
5.9
6.0
6.1
6.2
6.3
6.4
6.5
6.6
6.7
6.8
6.9
7.0
7.1
7.2
7.3
7.4
7.5
7.6
7.7
7.8
7.9
8.0
8.1
8.2
8.3
8.4
8.5
8.6
8.7
8.8
8.9
9

15.	Escribir un programa que permita al usuario ingresar 6 números enteros, que pueden ser positivos o negativos. Al finalizar, mostrar la sumatoria de los números negativos y el promedio de los positivos. No olvides que no es posible dividir por cero, por lo que es necesario evitar que el programa arroje un error si no se ingresaron números positivos.

In [ ]:
negativos = 0
positivos = 0
c_positivos = 0
for i in range(6):
  n = float(input("Ingrese un valor: "))
  if n < 0:
    negativos += n
  else:
    positivos += n
    c_positivos += 1
print("Sumatoria negativos: "+str(negativos))
if c_positivos>0:
  promedio = positivos / c_positivos
  print("Promedio positivos: "+str(promedio))
else:
  print("No habian numeros positivos")

Ingrese un valor: -5
Ingrese un valor: -6
Ingrese un valor: -7
Ingrese un valor: -8
Ingrese un valor: -10
Ingrese un valor: -8
Sumatoria negativos: -44.0
No habian numeros positivos

# Strings

In [ ]:
#Contar cuantas letras tiene tu nombre
nombre = input("Ingrese su nombre: ")
largo = len(nombre)
print(largo)

Ingrese su nombre: luis14
6

In [ ]:
nombre = input("Ingrese su nombre: ")
largo = len(nombre)
if largo > 4 and largo < 8:
  print("Registro exitoso")
else:
  print("tu usuario debe tener mas de 4 caracteres")

Ingrese su nombre: benjamin
Registro exitoso

In [ ]:
#buscar un caracter en una cadena
nombre = input("Ingrese su nombre: ")
print("i" in nombre)

Ingrese su nombre: jose
False

In [ ]:
#buscar un caracter en una cadena
nombre = input("Ingrese su nombre: ")
print("han" in nombre)

Ingrese su nombre: hans
True

In [ ]:
nombre = input("Ingrese su nombre: ")
print("o" in nombre or "a" in nombre)

Ingrese su nombre: latita
True

In [ ]:
#buscar si un caracter NO esta en una cadena
nombre = input("Ingrese su nombre: ")
print("a" not in nombre)

Ingrese su nombre: jose
True

In [ ]:
nombre = "HoLa mundo soy JoaQuin"
print(nombre.capitalize())
print(nombre.upper())
print(nombre.lower())
print(nombre.swapcase())
print(nombre.title())

Hola mundo soy joaquin
HOLA MUNDO SOY JOAQUIN
hola mundo soy joaquin
hOlA MUNDO SOY jOAqUIN
Hola Mundo Soy Joaquin

In [ ]:
sexo = input("Ingrese sexo: ")
sexo = sexo.lower()
if sexo=='f':
  print("Sexo femenino")
elif sexo=="m":
  print("Sexo masculino")
else:
  print("Te equivocaste")

Ingrese sexo: F
Sexo femenino

In [ ]:
saludo = "bienvenido al huertito"

for i in range(10):
  print(saludo)
  saludo = saludo.swapcase()

bienvenido al huertito
BIENVENIDO AL HUERTITO
bienvenido al huertito
BIENVENIDO AL HUERTITO
bienvenido al huertito
BIENVENIDO AL HUERTITO
bienvenido al huertito
BIENVENIDO AL HUERTITO
bienvenido al huertito
BIENVENIDO AL HUERTITO

In [ ]:
#Slicing
cadena = "Bievenidos al curso de Introduccion a la programacion"
print(cadena[::-1])

noicamargorp al a noiccudortnI ed osruc la sodineveiB

In [ ]:
cadena = "Bievenidos al curso de Introduccion a la programacion"
print(cadena[0])

B

In [ ]:
cadena = "Bievenidos al curso de Introduccion a la programacion"
print(cadena[5])

n

In [ ]:
cadena = "Bievenidos al curso de Introduccion a la programacion"
contador = 0
for i in cadena:
  if "on" == i:
    contador += 1
print(contador)

0

In [ ]:
cadena = "Bievenidos al curso de Introduccion a la programacion"
print(cadena[0]) #Imprime el primer caracter
print(cadena[0:5]) #Imprimer desde el caracter 0 hasta el 4
print(cadena[:5]) #Imprime desde el primer caracter hasta el 4
print(cadena[2:6]) #Imprime desde el caracter 2 hasta el 5
print(cadena[4:]) #Imprime desde el caracter 4 hasta el final
print(cadena[2:10:2]) #Imprime desde el caracter 2 hasta el 9, pero saltando de 2 en 2
print(cadena[::3]) #Imprime desde el primer caracter hasta el ultimo, pero saltando de 3 en 3
print(cadena[::-1]) #Imprime desde el final hasta el inicio

B
Bieve
Bieve
even
enidos al curso de Introduccion a la programacion
eeio
Bvisluoenocoaarrao
noicamargorp al a noiccudortnI ed osruc la sodineveiB

In [ ]:
n = 204.236268
print(n)
print("El valor es: {0:.2f}".format(n))
print("El valor es: {0:.4f}".format(n))

204.236268
El valor es: 204.24
El valor es: 204.2363

# Libreria Math

In [ ]:
import math
a = float(input("Ingrese un valor: "))
r = math.pow(a,3) 
print(r)

Ingrese un valor: 2
8.0

In [ ]:
import math
a = float(input("Ingrese un valor: "))
r = math.sqrt(a)
r1 =  a**(1/2)
print(r)
print(r1)

Ingrese un valor: 16
4.0
4.0

In [ ]:
import math
a = float(input("Ingrese un valor: "))
r = math.trunc(a) #Truncar, significa quitar ciertos digitos, en este caso la parte decimal
print(r)

Ingrese un valor: 17.2496
17

In [ ]:
import math
print(math.pi) #Muestra el valor de la constante pi
print(math.e)  #Muestra el valor de la constante euler

3.141592653589793
2.718281828459045

In [ ]:
import math
r = float(input("Ingrese un valor para el radio: "))
area = math.pi  * math.pow(r,2)
potencia = math.pi  * math.pow(r,3)
print(area)
print("{0:.2f}".format(area))
print("{0:.2f}  {1:.4f}".format(area,potencia))
print("{0:.2f}  {0:.4f}".format(area))

Ingrese un valor para el radio: 2
12.566370614359172
12.57
12.57  25.1327
12.57  12.5664

## Guia 5

10.	Leer un nombre y mostrar solo las consonantes.

In [ ]:
nombre = input("ingrese un nombre: ")
for x in nombre:
  if x =="a" or x == "e" or x == "i" or x == "o" or x == "u":
    pass
  else:
    print(x)

ingrese un nombre: luis
l
s

In [ ]:
nombre = input("ingrese un nombre: ")
for x in nombre:
  if x !="a" and x != "e" and x != "i" and x != "o" and x != "u":  
   print(x)

ingrese un nombre: luis
l
s

13.	Leer los dos nombres y apellidos de una persona, solo debe mostrar las iniciales de cada uno. EJ.
a.	Se ingreso “Esteban Bonifacio Dido Perez”
b.	Se muestra EBDP

In [ ]:
nombreCompleto = input("Ingrese su nombre completo: ")
largo = len(nombreCompleto)
for i in range(largo):
  if nombreCompleto[i] == " ":
    print(nombreCompleto[i+1])
  elif i == 0:
    print(nombreCompleto[i])

Ingrese su nombre completo: Luis Alberto Rojas Rubio
L
A
R
R

14.	Leer una cadena y dos caracteres, debe generar una nueva cadena que reemplace el primer carácter por el segundo. Ej.
a.	Se ingresa la cadena “Juaniquillo”.
b.	Se ingresa el carácter “i”
c.	Se ingresa el carácter “s”
d.	Se muestra al final “Juansqusllo”

In [ ]:
cadena = input("Ingrese una cadena: ")
c1 = input("Ingrese un caracter: ")
c2 = input("Ingrese un caracter distinto: ")

resultado = ""
for c in cadena:
  if c1 == c:
    resultado = resultado + c2
  else:
    resultado = resultado + c
print(resultado)

Ingrese una cadena: luis
Ingrese un caracter: u
Ingrese un caracter distinto: a
lais

16.	Leer una cadena e indicar si es palíndromo. Una palabra palíndroma es aquella que se lee igual adelante que atrás. Ej.
a.	reconocer -> palíndromo
b.	anitalavalatina -> palíndromo
c.	comer -> no es palíndromo

In [ ]:
cadena = input("Ingrese una cadena: ")
cadena_inv = cadena[::-1]
print(cadena_inv)
if cadena == cadena_inv:
  print("Es palindroma")
else:
  print("No es palindroma")

Ingrese una cadena: anita lava la tina
anit al aval atina
No es palindroma

# Funciones

In [ ]:
def saludar():
  print("Hola")

for i in range(5):
  saludar()

Hola
Hola
Hola
Hola
Hola

In [ ]:
def sumar():
  global c
  a = 1
  b = 2
  c = 2
  suma = a + c
  print(c)
  
c = 1
sumar()
print(c)

2
2

In [ ]:
def test():
  return "hola"

r = test()
print(r)

hola

In [ ]:
def sumar():
  a = 1
  b = 2
  suma = a + b
  return suma
resultado = sumar()
print(resultado)

3

In [ ]:
def calcular():
  a = 1
  b = 2
  suma = a + b
  resta = b - a
  cadena = "Hola"
  nota = 4.2
  return suma,resta,cadena,nota

r1,r2,saludo,r4 = calcular()  
print(r1)  
print(r2)
print(saludo)
print(r4)

3
1
Hola
4.2

In [ ]:
def sumatoria(a,b):
  suma = a + b
  return suma

r = sumatoria(4,2)
print(r)

6

In [ ]:
import math
r = math.pow(4,2)
print(r)

16.0

In [ ]:
def hola(a,b):
  resultado = a ** b
  return resultado

r = hola(4,2)
print(r)

16

In [ ]:
def sumar3(a,b,c):
  r = a + b + c
  return r
n1 = 2
n2 = 4
n3 = 5
r = sumar(n1,n2,n3)
n1 = 3
n2 = 5
n3 = 6
r = sumar(n1,n2,n3)

In [ ]:
def promedio(n,curso):
  suma = 0
  print("Esta ingresando las notas de: "+curso)
  for i in range(n):
    nota = float(input("Ingrese una nota "+str(i+1)+": "))
    suma += nota
  promedio = suma / n
  return promedio

p1 = promedio(3,"Intro a la progra") #Intro a la progra
p2 = promedio(2,"Mate") #Mate
p3 = promedio(4, "Tics") #Tics
print(p1)
print(p2)
print(p3)

Esta ingresando las notas de: Intro a la progra
Ingrese una nota 1: 7
Ingrese una nota 2: 4
Ingrese una nota 3: 5
Esta ingresando las notas de: Mate
Ingrese una nota 1: 4
Ingrese una nota 2: 6
Esta ingresando las notas de: Tics
Ingrese una nota 1: 7
Ingrese una nota 2: 1
Ingrese una nota 3: 2
Ingrese una nota 4: 4
3
2
4

In [ ]:
def promedio(n,curso):
  suma = 0
  print("Esta ingresando las notas de: "+curso)
  for i in range(n):
    nota = float(input("Ingrese una nota "+str(i+1)+": "))
    suma += nota
  promedio = suma / n
  return promedio

for i in range(3):
  asignatura = input("Ingrese nombre de la asignatura: ")
  notas = int(input("Ingrese numero de notas de la asignatura: "))
  p = promedio(notas,asignatura)
  print(p)

Ingrese nombre de la asignatura: Lenguaje
Ingrese numero de notas de la asignatura: 2
Esta ingresando las notas de: Lenguaje
Ingrese una nota 1: 6
Ingrese una nota 2: 4
5.0
Ingrese nombre de la asignatura: Mate
Ingrese numero de notas de la asignatura: 4
Esta ingresando las notas de: Mate
Ingrese una nota 1: 1
Ingrese una nota 2: 2
Ingrese una nota 3: 3
Ingrese una nota 4: 4
2.5
Ingrese nombre de la asignatura: Progra
Ingrese numero de notas de la asignatura: 3
Esta ingresando las notas de: Progra
Ingrese una nota 1: 4
Ingrese una nota 2: 6
Ingrese una nota 3: 7
5.666666666666667

Desarrolle una funcion que reciba por parametro una cadena y retorne si es palindroma o no

In [ ]:
def palindromo(cadena):
  cadena_invertida = cadena[::-1]
  if cadena == cadena_invertida:
    return "Si es palindroma"
  else:
    return "No es palindroma"

c = "reconocer"
respuesta = palindromo(c)
print(respuesta)
c = "jose"
respuesta = palindromo(c)
print(respuesta)

Si es palindroma
No es palindroma

Desarrollar una función que reciba por parametro un numero entero positivo, que imprima todos los números correlativos entre el ingresado por el usuario y uno menos del doble del mismo.

In [ ]:
def imprimir_correlativos(n):
  for i in range(n,2*n):
    print(i)

imprimir_correlativos(5)

5
6
7
8
9

Desarrollar una funcion que reciba por parametro una cadena la cual es un nombre, la funcion debe imprimir "Hola "... , donde ... es la cadena

In [ ]:
def saludar(nombre):
 print("hola "+nombre)

saludar("Javier")
saludar("Miguel")

hola Javier
hola Miguel

Desarrollar una funcion que reciba por parametro un nombre de un color y un numero, la funcion debe imprimir, "El cielo es de color X y veo Y pajaros". Donde X es el color e Y el numero.

In [ ]:
def cielo(color,numero):
  #print("El cielo es de color "+color+" y veo "+str(numero)+" pajaros")
  print(f"El cielo es de color {color} y veo {numero} pajaros")
cielo("azul",4)
cielo("morado",5)

El cielo es de color azul y veo 4 pajaros
El cielo es de color morado y veo 5 pajaros

Desarrollar una funcion que reciba el radio y la altura de un circulo, la funcion debe calcular el area del circulo y retornarla

In [ ]:
import math
def area(radio, altura):
  #area = pi * radio elevado a 2
  area = math.pi * (radio ** 2)
  return area

area1 = area(4,5)
print(area1)
area2 = area(6,5)
print(area2)

50.26548245743669
113.09733552923255

Utilizando la funcion anterior, agregar otra que permita calcular el perimetro de un circulo.

In [ ]:
#perimetro = 2 * pi * r
import math

def circulo(radio):

    p = 2 * math.pi * radio 

    return p

p1 = circulo(5)

print(p1)

31.41592653589793

Definir una funcion que reciba por parametro el radio y la altura de un circulo, la funcion debe calcular el area y el perimetro. Debe retornar el area y el perimetro.

In [ ]:
import math
def circulo(radio,altura):
  area = math.pi * (radio ** 2)
  p = 2 * math.pi * radio 
  return area,p


r = float(input("Ingrese area: "))
alt = float(input("Ingrese altura: "))
a,p = circulo(r,alt)
print(f'El area es: {a:.2f}')
print(f'El perimetro es: {p:.2f}')

Ingrese area: 3
Ingrese altura: 5
El area es: 28.27
El perimetro es: 18.85

## Guia

1.	Realiza una función que pida al usuario el curso en el cual está inscrito e imprima “Bienvenido al curso de …“.

In [ ]:
def curso():
  c = input("Ingrese su curso: ")
  print("Bienvenido al curso de",c)

curso()

Ingrese su curso: Mate
Bienvenido al curso de Mate

In [ ]:
def curso():
  nombre = input("Ingrese nombre del curso: ")
  print("Bienvenido al curso de "+nombre)

curso()

2.	Realiza una función que sume dos números pasados por parámetros.

In [ ]:
def sumar(num1,num2):
  r = num1 + num2

sumar(1,2)

3.	Realiza una función que indique si un número pasado por parámetro es par o impar.

In [ ]:
def par(num):
  if num % 2 == 0:
    print("Es par")
  else:
    print("No es par")

par(2)
par(3)
par(7)

Es par
No es par
No es par

4.	Crea una función que dados dos números mostrará todos los números que hay entre ellos.

In [ ]:
def correlativos(n1,n2):
  for i in range(n1+1,n2):
    print(i)

correlativos(3,7)

4
5
6

5.	Realiza una función que multiplique dos números pasados por parámetros y retorne el resultado de la multiplicación.

In [ ]:
def multiplicacion(n1,n2):
  r = n1 * n2
  return r

print(multiplicacion(4,2))

8

6.	Realiza una función que muestre el numero de caracteres de una cadena, pasando por parámetro la cadena y retornando el número de caracteres.

In [ ]:
def largo(cadena):
  l = len(cadena)
  print(l)
  return l

variable = largo("luis")

4

In [ ]:
def caracter(a):

  carac= len(a)

  print(f"LA CANTIDAD DE CARACTERES EN ESTA CADENA ES DE : {carac}")

  return carac



cadena = input("ingrese cualquier cosa:")

a = caracter(cadena)

ingrese cualquier cosa:Carlos
LA CANTIDAD DE CARACTERES EN ESTA CADENA ES DE : 6

In [ ]:
def n_caracteres(cadena):

  largo = len(cadena)

  return largo



largo = n_caracteres("Hola")

print(largo)

In [ ]:
def car(a):

  s = len(a)

  return s



d = car("copito")

print(d)

7.	Realiza una función que reciba dos cadenas, la función debe detectar cuantas veces aparece la segunda cadena en la primera y retornan dicha cantidad. (La segunda cadena solo tiene un caracter)

In [ ]:
def contar_cadena(cadena1,cadena2):
  contador = 0
  for x in cadena1:
    if x == cadena2:
      contador += 1
  
  return contador

print(contar_cadena("Hola Mundo","o"))

2

8.	Realiza un programa que pida al usuario dos números y le solicite cuatro opciones, si el usuario indica la primera opción deberá llamar a una función que sume ambos números y muestre el resultado, si indica la segunda opción debe llamar a otra función que reste ambos números y muestre el resultado, si indica la tercera opción debe llamar a otra función que multiplique ambos números y muestre el resultado y en caso de ser la cuarta opción debe llamar a una función que permita dividir ambos números y mostrar el resultado

In [ ]:
def sumar(n1,n2):
  r = n1 + n2
  print(r)
def restar(n1,n2):
  r = n1 - n2
  print(r)
def multiplicar(n1,n2):
  r = n1 * n2
  print(r)
def dividir(n1,n2):
  r = n1 / n2
  print(r)

n1 = float(input("Ingrese numero 1: "))
n2 = float(input("Ingrese numero 2: "))
print("Menu:")
print("1.- Sumar")
print("2.- Restar")
print("3.- Multiplicar")
print("4.- Dividir")
opcion = input("Ingrese la operacion a ejecutar: ")
if opcion == "1":
  sumar(n1,n2)
elif opcion == "2":
  restar(n1,n2)
elif opcion == "3":
  multiplicar(n1,n2)
elif opcion == "4":
  dividir(n1,n2)

Ingrese numero 1: 4
Ingrese numero 2: 5
Menu:
1.- Sumar
2.- Restar
3.- Multiplicar
4.- Dividir
Ingrese la operacion a ejecutar: 4
0.8

9.	Realiza una función que reciba por parámetro un numero de notas, la función debe calcular el promedio de esa cantidad de notas, la nota más baja y la más alta, y finalmente retornar las tres (promedio, baja y alta).

In [ ]:
def calcular_notas(notas):
  sum = 0
  baja = 7
  alta = 1
  for i in range(notas):
    nota = float(input("Ingrese nota "+str(i+1)+": "))
    sum += nota
    if nota < baja:
      baja = nota
    if nota > alta:
      alta = nota
  promedio = sum / notas
  return promedio,baja,alta

p,b,a = calcular_notas(3)
print(f'El promedio es: {p:.3f}')

Ingrese nota 1: 4
Ingrese nota 2: 2.4
Ingrese nota 3: 3.7
El promedio es: 3.367

10.	Realiza una función que reciba por parámetro un numero de repeticiones, debe preguntar al usuario un numero e identificar si el numero es positivos, negativo o neutro y repetir esta acción la cantidad de veces indicada por parámetro. Debe retornar la cantidad de positivos, negativos y neutros.

In [ ]:
def contar(repeticiones):
  negativos = 0
  positivos = 0
  neutros = 0
  for i in range(repeticiones):
    numero = float(input("Ingrese un numero: "))
    if numero == 0:
      neutros += 1
    elif numero > 0:
      positivos += 1
    else:
      negativos += 1
  return positivos,negativos,neutros 

pos,neg,neu = contar(2)
print(pos)

Ingrese un numero: 4
Ingrese un numero: 0
1

In [ ]:
def test():
  global a
  a = 2
  print(a)
a = 1
test()
print(a)

2
2

In [ ]:
ord("n")

110

# Tuplas

In [ ]:
t1 = () #Declara una tupla vacia
t1 = "Jorge","david","Carlos"
print(t1)

('Jorge', 'david', 'Carlos')

In [ ]:
t1 = "Jorge","Munoz",21,1.65
print(t1)

('Jorge', 'Munoz', 21, 1.65)

In [ ]:
t1 = "Jorge","Munoz",21,1.65
print(f'Nombre: {t1[0]}')
print(f'Apellido: {t1[1]}')
print(f'Edad: {t1[2]}')
print(f'Altura: {t1[3]}')

Nombre: Jorge
Apellido: Munoz
Edad: 21
Altura: 1.65

In [ ]:
notas = (7,4.2,6.5,3)
print(notas)

(7, 4.2, 6.5, 3)

In [ ]:
t1 = "Jorge","Munoz",21,1.65
print(t1[0:2])
print(t1[1:3])
print(t1[0:3:2])
print(t1[::3])
print(t1[1::2])

('Jorge', 'Munoz')
('Munoz', 21)
('Jorge', 21)
('Jorge', 1.65)
('Munoz', 1.65)

In [ ]:
datos = (("Jorge","Munoz",21),("Juan","Chong",22),("Carlos","Madariaga",20))
print(datos)
print(datos[0])
print(datos[1])
print(datos[2])
print(datos[1][0])
print(datos[2][1])

(('Jorge', 'Munoz', 21), ('Juan', 'Chong', 22), ('Carlos', 'Madariaga', 20))
('Jorge', 'Munoz', 21)
('Juan', 'Chong', 22)
('Carlos', 'Madariaga', 20)
Juan
Madariaga

In [ ]:
t1 = "Jorge","david","Carlos"
for i in t1:
  print(i)

Jorge
david
Carlos

In [ ]:
datos = (("Jorge","Munoz",21),("Juan","Chong",22),("Carlos","Madariaga",20))
for i in datos:
  print(i)

('Jorge', 'Munoz', 21)
('Juan', 'Chong', 22)
('Carlos', 'Madariaga', 20)

In [ ]:
datos = (("Jorge","Munoz",21),("Juan","Chong",22),("Carlos","Madariaga",20))
for i in datos:
  print(f'Nombre: {i[0]}')
  print(f'Apellido: {i[1]}')
  print(f'Edad: {i[2]}')

Nombre: Jorge
Apellido: Munoz
Edad: 21
Nombre: Juan
Apellido: Chong
Edad: 22
Nombre: Carlos
Apellido: Madariaga
Edad: 20

In [ ]:
datos = (("Jorge","Munoz",21),("Juan","Chong",22),("Carlos","Madariaga",20))
for i in datos:
  for x in i:
    print(x)

Jorge
Munoz
21
Juan
Chong
22
Carlos
Madariaga
20

In [ ]:
notas = ((2,4),(3,5,6),(4,3.2,2.8))

for i in notas:
  sum = 0
  for x in i:
    sum += x
  print(f"La suma es: {sum}")

La suma es: 6
La suma es: 14
La suma es: 10.0

In [ ]:
t1 = "Jorge","david","Carlos"
nombre = input("A quien busca: ")
r  = nombre in t1
print(r)

A quien busca: Jorge
True

In [ ]:
t1 = 4,5,6,7
r = 6 in t1
print(r)

True

In [ ]:
t1 = "Jorge","david","Carlos"
nombre = input("A quien busca: ")
r  = nombre not in t1 #Afirmo que ese nombre no esta en t1
print(r)

A quien busca: jose
True

In [ ]:
t1 = 4, 5 ,6
t2 = 5,7,8
r = t1 + t2
print(r)

(4, 5, 6, 5, 7, 8)

In [ ]:
t1 = 4, "hola" ,47.5
t2 = "chao",7,8
r = t1 + t2
print(r)

(4, 'hola', 47.5, 'chao', 7, 8)

In [ ]:
t1 = 4, 5 ,6
r = t1 * 3
print(r)

(4, 5, 6, 4, 5, 6, 4, 5, 6)

In [ ]:
t1 = 4, "hola" ,47.5
l = len(t1)
print(l)

3

In [ ]:
datos = (("Jorge",21),("Juan",22),("Carlos",20))
l = len(datos)
print(l)
l1 = len(datos[0])
print(l1)

3
2

In [ ]:
edades = 21,22,25,35,16,17,18,16,12,24,22
print(edades)
r = min(edades)
print(r)
r1 = max(edades)
print(r1)

(21, 22, 25, 35, 16, 17, 18, 16, 12, 24, 22)
12
35

In [ ]:
notas = 4,3.2,4.5,6.2,4.4
baja = min(notas)
print(baja)
alta = max(notas)
print(alta)

3.2
6.2

In [ ]:
datos = "b","a","c","z","h","Z","A"
r = min(datos)
print(r)
r1 = max(datos)
print(r1)

A
z

In [ ]:
datos = "ba","al","zar","ab"
r = min(datos)
print(r)
r1 = max(datos)
print(r1)

ab
zar

In [ ]:
t1 = "Jorge","david","Carlos"
print(t1[0])
t1 = "Jorge1","david1","Carlos1"
print(t1[0])
#t1[0] = "Juan"
print(t1)

Jorge
Jorge1
('Jorge1', 'david1', 'Carlos1')

In [ ]:
t1 = "Jorge","david","Carlos"
t1.append("Juan")

AttributeError: ignored

# Listas

In [ ]:
l1 = ["Jorge","david","Carlos"]
print(l1)

['Jorge', 'david', 'Carlos']

In [ ]:
l1 = ["Jorge",21,1.65]
print(l1)

['Jorge', 21, 1.65]

In [ ]:
l1 = ["Jorge","david","Carlos"]
print(l1)
l1[0] = "Juanito"
print(l1)

['Jorge', 'david', 'Carlos']
['Juanito', 'david', 'Carlos']

In [ ]:
l1 = ["Jorge","david","Carlos"]
print(l1[0])
print(l1[1])
print(l1[2])

Jorge
david
Carlos

In [ ]:
l1 = ["Jorge","david","Carlos"]
for i in l1:
  print(i)

Jorge
david
Carlos

In [ ]:
l1 = ["Jorge","david","Carlos"]
del l1 ##eliminando la lista l1
print(l1)

NameError: ignored

In [ ]:
l1 = ["Jorge","david","Carlos"]
del l1[1]
print(l1)

['Jorge', 'Carlos']

In [ ]:
l1 = [["Jorge",21],["David",18],["Carlos",19]]
print(l1)

[['Jorge', 21], ['David', 18], ['Carlos', 19]]

In [ ]:
l1 = [["Jorge",21],["David",18],["Carlos",19]]
for i in l1:
  if i[1] >18:
    i[0] = "Juan"
print(l1)

[['Juan', 21], ['David', 18], ['Juan', 19]]

In [ ]:
a = "joselito"
for i in a:
  print(i)

j
o
s
e
l
i
t
o

In [ ]:
#Slice
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
print(l1[0:4])
#l1[0:4] = "Joselito"
#print(l1)
#l1[::2] = "Jos"
#print(l1)
l1[::2] = ['Juan',"gustavo","Luis"]
print(l1)

['Jorge', 'david', 'Carlos', 'Javier']
['Juan', 'david', 'gustavo', 'Javier', 'Luis', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l1.append("Joselito")
print(l1)

['Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua', 'Joselito']

In [ ]:
l1 = []
notas = int(input("Ingrese un numero de notas: "))
for i in range(notas):
  nota = float(input("Ingrese una nota: "))
  l1.append(nota)

print(l1)

Ingrese un numero de notas: 3
Ingrese una nota: 4.5
Ingrese una nota: 7
Ingrese una nota: 4.3
[4.5, 7.0, 4.3]

In [ ]:
l1 = []
cursos = int(input("Ingrese numero de cursos: "))
for i in range(cursos):
  nombre = input("Ingrese nombre del curso: ")
  notas = int(input("Ingrese un numero de notas: "))
  n = []
  n.append(nombre)
  for j in range(notas):
    nota = float(input("Ingrese una nota: "))
    n.append(nota)
  l1.append(n)
print(l1)

Ingrese numero de cursos: 2
Ingrese nombre del curso: Mate
Ingrese un numero de notas: 3
Ingrese una nota: 4.5
Ingrese una nota: 2.2
Ingrese una nota: 6
Ingrese nombre del curso: Progra
Ingrese un numero de notas: 2
Ingrese una nota: 6.5
Ingrese una nota: 1.2
[['Mate', 4.5, 2.2, 6.0], ['Progra', 6.5, 1.2]]

In [ ]:
t1 = (["Juan",21],["Jose",34])
print(t1)
t1[0][0] = "Alan"
print(t1)

(['Juan', 21], ['Jose', 34])
(['Alan', 21], ['Jose', 34])

In [ ]:
l1 =  [("Juan",21),("Jose",34)]
print(l1)
l1[0] = ("Juanito",22)
print(l1)
l1[0][0] = "Alan"

[('Juan', 21), ('Jose', 34)]
[('Juanito', 22), ('Jose', 34)]

TypeError: ignored

In [ ]:
l1 =  [("Juan",21),("Jose",34)]
l1.clear()
print(l1)

[]

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l2 = l1
l2[0] = "Juan"
print(l1)
print(l2)

['Juan', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua']
['Juan', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l2 = l1.copy()
l2[0] = "Juan"
print(l1)
print(l2)

['Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua']
['Juan', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l2 = ["Juanito","Armando"]
l1.extend(l2)
print(l1)

['Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua', 'Juanito', 'Armando']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l2 = ["Juanito","Armando"]
l1 += l2 
print(l1)

['Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua', 'Juanito', 'Armando']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l1.extend(["Jose"])#Iterable
print(l1)

['Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua', 'Jose']

In [ ]:
#Como identificar un iterable
a = "Jose" #Un string es un iterable
a = ("Jose",41,4.2) #Una tupla es iterable
a = ["Jose",41,4.2] #Una lista es iterable
a = 45 #Un numero entero(int) no es iterable
a = 5.62 #Un numero decimal(float) no es iterable
a = True #Un booleano no es iterable
for i in a:
  print(i)

TypeError: ignored

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l1 *= 3 #l1 = l1 * 3
print(l1)

['Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua', 'Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua', 'Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l1.insert(3,"Jose")
print(l1)

['Jorge', 'david', 'Carlos', 'Jose', 'Javier', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l1.insert(len(l1),"Jose")
print(l1)

['Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'Joshua', 'Jose']

In [ ]:
l1 = []
for i in range(4):
  nombre = input("Ingrese su nombre: ")
  l1.insert(len(l1),nombre)
print(l1)

Ingrese su nombre: Luis
Ingrese su nombre: Juan
Ingrese su nombre: Jose
Ingrese su nombre: Pablo
['Luis', 'Juan', 'Jose', 'Pablo']

In [ ]:
l1 = []
for i in range(4):
  nombre = input("Ingrese su nombre: ")
  l1.insert(0,nombre)
print(l1)

Ingrese su nombre: Luis
Ingrese su nombre: Juan
Ingrese su nombre: Jose
Ingrese su nombre: Pablo
['Pablo', 'Jose', 'Juan', 'Luis']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
r = l1.pop(3) #Retornar el dato del indice indicado (3) y lo saca de la lista
print(r)
print(l1)

Javier
['Jorge', 'david', 'Carlos', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
l1.pop(3) #Retornar el dato del indice indicado (3) y lo saca de la lista
print(l1)

['Jorge', 'david', 'Carlos', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
print(len(l1))
l1.pop(3)
print(len(l1))

6
5

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua"]
nombre = input("Ingrese nombre a eliminar: ")
for i in range(len(l1)):
  if l1[i] == nombre:
    l1.pop(i)
    break #Termina el ciclo
print(l1)

Ingrese nombre a eliminar: Carlos
['Jorge', 'david', 'Javier', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua","david"]
nombre = input("Ingrese nombre a eliminar: ")
cant_datos = len(l1)
contador = 0
while contador < cant_datos:
  if l1[contador] == nombre:
    l1.pop(contador)
    cant_datos = len(l1)
  contador += 1
print(l1)

Ingrese nombre a eliminar: david
['Jorge', 'Carlos', 'Javier', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua","david"]
l1.remove("Carlos")
print(l1)

['Jorge', 'david', 'Javier', 'Bastian', 'Joshua', 'david']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua","david"]
l1.remove("david")
print(l1)
l1.remove("david")
print(l1)

['Jorge', 'Carlos', 'Javier', 'Bastian', 'Joshua', 'david']
['Jorge', 'Carlos', 'Javier', 'Bastian', 'Joshua']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua","david"]
nombre = input("Ingrese nombre a eliminar: ")
l1.remove(nombre)
print(l1)

Ingrese nombre a eliminar: Joshua
['Jorge', 'david', 'Carlos', 'Javier', 'Bastian', 'david']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua","david"]
l1.reverse()
print(l1)

['david', 'Joshua', 'Bastian', 'Javier', 'Carlos', 'david', 'Jorge']

In [ ]:
l1 = [4,5,6,1,-5,10,-55,3]
l1.sort() #Ordena de forma ascendente
print(l1)

[-55, -5, 1, 3, 4, 5, 6, 10]

In [ ]:
l1 = [4,5,6,1,-5,10,-55,3]
l1.sort(reverse=True) #Ordena de forma descendente
print(l1)

[10, 6, 5, 4, 3, 1, -5, -55]

In [ ]:
l1 = [4,5,6,1,-5,10,-55,3]
l1.sort() #Ordena de forma ascendente
l1.reverse()
print(l1)

[10, 6, 5, 4, 3, 1, -5, -55]

In [ ]:
l1 = [4,5,6,1,-5,10,-55,3]
a = sorted(l1) #Otra forma de ordenar una lista
print(a)

[-55, -5, 1, 3, 4, 5, 6, 10]

In [ ]:
#Tambien ordena numeros decimales
l1 = [4,5.2,6,1.8,-5.4,10,-55,3]
l1.sort()
print(l1)

[-55, -5.4, 1.8, 3, 4, 5.2, 6, 10]

In [ ]:
#Tambien ordena los caracteres, pero en base a su codigo ascii
l1 = ["b","H","k","M"]
l1.sort() #Ordena una lista
print(l1)

['H', 'M', 'b', 'k']

In [ ]:
l1 = ["Jorge","david","Carlos","Javier","Bastian","Joshua","david"]
l1.sort()
print(l1)

['Bastian', 'Carlos', 'Javier', 'Jorge', 'Joshua', 'david', 'david']

In [ ]:
l1 = []
for i in range(4):
  nombre = input("Ingrese nombre alumno: ")
  edad = int(input(f'Ingrese edad de {nombre}: '))
  l1.append([nombre,edad])
print(l1)

Ingrese nombre alumno: Juan
Ingrese edad de Juan: 25
Ingrese nombre alumno: Pablo
Ingrese edad de Pablo: 18
Ingrese nombre alumno: Maria
Ingrese edad de Maria: 23
Ingrese nombre alumno: David
Ingrese edad de David: 19
[['Juan', 25], ['Pablo', 18], ['Maria', 23], ['David', 19]]

In [ ]:
def validar(u,c):
  datos = [['ArmandoCasas',"armandocasas123"],["EstebanDido","estebandido123"],["SusanaHoria","susanahoria123"]]
  for i in range(len(datos)):
    if datos[i][0].lower() == u.lower() and datos[i][1] == c:
      return "Bienvenido al sistema "+u
  return "Las credenciales no coinciden!"

print(validar("ArmandoCaSaS","armandocasas123"))
print(validar("ArmandoCaSaS","armandocasas1234"))

Bienvenido al sistema ArmandoCaSaS
Las credenciales no coinciden!

In [ ]:
l1 = [6.2,4.6,7,6.1]
l1.sort()
print(l1)

[4.6, 6.1, 6.2, 7]

In [ ]:
l1 = [6.2,4.6,7,6.1]
l2 = ["Felipe","Exequiel","Benja","Miguel"]
l1.sort()
print(l1)
print(l2)

[4.6, 6.1, 6.2, 7]
['Felipe', 'Exequiel', 'Benja', 'Miguel']

In [ ]:
def ordenamientoBurbuja(unaLista):
    for numPasada in range(len(unaLista)-1,0,-1):
        for i in range(numPasada):
            if unaLista[i]>unaLista[i+1]:
                temp = unaLista[i]
                unaLista[i] = unaLista[i+1]
                unaLista[i+1] = temp

l1 = [6.2,4.6,7,6.1]
ordenamientoBurbuja(l1)
print(l1)

[4.6, 6.1, 6.2, 7]

In [ ]:
def ordenamientoBurbuja(unaLista,otraLista,otraListaMas):
    for numPasada in range(len(unaLista)-1,0,-1):
        for i in range(numPasada):
            if unaLista[i]<unaLista[i+1]:
                temp = unaLista[i]
                unaLista[i] = unaLista[i+1]
                unaLista[i+1] = temp

                temp = otraLista[i]
                otraLista[i] = otraLista[i+1]
                otraLista[i+1] = temp

                temp = otraListaMas[i]
                otraListaMas[i] = otraListaMas[i+1]
                otraListaMas[i+1] = temp


l1 = [6.2,4.6,7,6.1]
l2 = ["Felipe","Exequiel","Benja","Miguel"]
l3 = ["Ordenes","Porriga","Gallardo","Lopez"]
ordenamientoBurbuja(l1,l2,l3)
print(l1)
print(l2)
print(l3)

[7, 6.2, 6.1, 4.6]
['Benja', 'Felipe', 'Miguel', 'Exequiel']
['Gallardo', 'Ordenes', 'Lopez', 'Porriga']

# Guia

7.	Pedir al usuario números entre 10 y 1000, generar una cadena de caracteres con esos números separados por coma. A partir de esa cadena generar una lista. Luego generar otra lista que contenga dos listas una con pares y la otra con impares. El resultado debe ser una tupla que contenga el promedio de los pares y el máximo de los impares.

In [ ]:
cadena = ""
while True:
  numero = int(input("Ingrese un numero entre 10 y 1000: "))
  if numero > 10 and numero < 1000:
    cadena += str(numero) + ","  
  else:
      print("Debe ingresar un valor entre 10 y 1000")


  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

print(cadena)

l1 = cadena.split(",")
l1.remove('')
print(lista)
par = []
impar = []
for x in l1:
  x = int(x)
  if x%2==0:
    par.append(x)
  else:
    impar.append(x)
#
sum = 0
for x in par:
  sum += x
promedio = sum / len(par)

maximo = max(impar)
resultado = (promedio,maximo)
print(resultado)

Ingrese un numero entre 10 y 1000: 55
Desea continuar (s/n): s
Ingrese un numero entre 10 y 1000: 10
Debe ingresar un valor entre 10 y 1000
Desea continuar (s/n): s
Ingrese un numero entre 10 y 1000: 8
Debe ingresar un valor entre 10 y 1000
Desea continuar (s/n): s
Ingrese un numero entre 10 y 1000: 14
Desea continuar (s/n): s
Ingrese un numero entre 10 y 1000: 65
Desea continuar (s/n): n
55,14,65,
['60', '55', '70', '11', '69']

TypeError: ignored

In [ ]:
cadena = "50,90,65,71,63,13,"
lista = cadena.split(",")
lista.remove('')
print(lista)
pares = []
impares = []
for x in lista:
  x = float(x)
  if x%2==0:
    pares.append(x)
  else:
    impares.append(x)
print(pares)
print(impares)

['50', '90', '65', '71', '63', '13']
[50.0, 90.0]
[65.0, 71.0, 63.0, 13.0]

In [ ]:
pares = [50, 90]
impares = [65, 71, 63, 13]

sum = 0
m= 0
for x in pares:
  sum += x
promedio = sum / len(pares)
m = max(impares)
t1 = (promedio,m)
print(t1)

TypeError: ignored

# Diccionarios

In [ ]:
d1 = dict(yarella=18,juan=19,karla=18,seba=21)
print(d1)
d2 = {"yarella":18,"juan":19,"karla":18,"seba":21}
print(d2)

{'yarella': 18, 'juan': 19, 'karla': 18, 'seba': 21}
{'yarella': 18, 'juan': 19, 'karla': 18, 'seba': 21}

In [ ]:
t1 = ("jose","juan","pablo")
l1 = ["platano","manzana","pera"]
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
print(t1[1])
print(l1[2])
print(d1["karla"])

juan
pera
18

In [ ]:
d1 = {"yarella": ["rojas",18,1.62],"juan":["chong",19,1.7],"karla":["contreras",20,1.65],"seba":["santivanez",19,1.8]}
print(d1)
print(d1["juan"])
print(d1["yarella"][0])

{'yarella': ['rojas', 18, 1.62], 'juan': ['chong', 19, 1.7], 'karla': ['contreras', 20, 1.65], 'seba': ['santivanez', 19, 1.8]}
['chong', 19, 1.7]
rojas

In [ ]:
nombres = ["yarella","juan","karla"]
notas = [4,6.2,7]
d1 = dict(zip(nombres,notas))
print(d1)

{'yarella': 4, 'juan': 6.2}

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
valores = d1.items()
print(valores)

dict_items([('yarella', 18), ('juan', 19), ('karla', 18), ('seba', 21)])

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
for x in d1.items():
  print(f'{x[0]} tiene {x[1]} años')

yarella tiene 18 años
juan tiene 19 años
karla tiene 18 años
seba tiene 21 años

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
for c,v in d1.items():
  print(f'{c} tiene {v} años')

yarella tiene 18 años
juan tiene 19 años
karla tiene 18 años
seba tiene 21 años

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
claves = d1.keys()
print(claves)

dict_keys(['yarella', 'juan', 'karla', 'seba'])

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
for c in d1.keys():
  print(f'{c} tiene {d1[c]} años')

yarella tiene 18 años
juan tiene 19 años
karla tiene 18 años
seba tiene 21 años

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
valores = d1.values()
print(valores)

dict_values([18, 19, 18, 21])

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
for x in d1.values():
  print(x)

18
19
18
21

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
d1.clear()
print(d1)

{}

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
del d1["karla"]
print(d1)

{'yarella': 18, 'juan': 19, 'seba': 21}

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
d2 = d1 #estamos dando un alias a d1
d2["seba"] = 22
print(d1)
print(d2)

{'yarella': 18, 'juan': 19, 'karla': 18, 'seba': 22}
{'yarella': 18, 'juan': 19, 'karla': 18, 'seba': 22}

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
d2 = d1.copy() #clonamos el diccionario
d2["seba"] = 22
print(d1)
print(d2)

{'yarella': 18, 'juan': 19, 'karla': 18, 'seba': 21}
{'yarella': 18, 'juan': 19, 'karla': 18, 'seba': 22}

In [ ]:
paises = ["Chile","Brasil","Japon","Italia"]
d1 = dict.fromkeys(paises,0)
print(d1)
d1["Chile"] += 3
d1["Brasil"] += 1
d1["Italia"] += 1
print(f'primera ronda: {d1}')
d1["Brasil"] += 3
d1["Italia"] += 3
print(f'segunda ronda: {d1}')
d1["Chile"] += 1
d1["Italia"] += 1
d1["Brasil"] += 3
print(f'tercera ronda: {d1}')

{'Chile': 0, 'Brasil': 0, 'Japon': 0, 'Italia': 0}
primera ronda: {'Chile': 3, 'Brasil': 1, 'Japon': 0, 'Italia': 1}
segunda ronda: {'Chile': 3, 'Brasil': 4, 'Japon': 0, 'Italia': 4}
tercera ronda: {'Chile': 4, 'Brasil': 7, 'Japon': 0, 'Italia': 5}

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
edad = d1.get("karla")
print(edad)
edad = d1.get("carlos")
print(edad)

18
None

In [ ]:
d1 = {}
while True:
  rut = input("Ingrese su rut: ")
  if d1.get(rut) == None:
    nombre = input("Ingrese su nombre: ")
    d1[rut] = nombre
  else:
    print("El rut ya existe!")
  
  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

print(d1)

Ingrese su rut: r1
Ingrese su nombre: Carlos
Desea continuar (s/n): s
Ingrese su rut: r1
El rut ya existe!
Desea continuar (s/n): s
Ingrese su rut: r2
Ingrese su nombre: juan
Desea continuar (s/n): s
Ingrese su rut: r1
El rut ya existe!
Desea continuar (s/n): s
Ingrese su rut: r2
El rut ya existe!
Desea continuar (s/n): n
{'r1': 'Carlos', 'r2': 'juan'}

In [ ]:
d1 = {}
while True:
  rut = input("Ingrese su rut: ")
  if d1.get(rut) == None:
    nombre = input("Ingrese su nombre: ")
    apellido = input("Ingrese apellido: ")
    edad = int(input("Ingrese su edad: "))
    altura = float(input("Ingrese su altura: "))
    d1[rut] = {"nombre":nombre,"apellido":apellido,"edad":edad,"altura":altura}
  else:
    print("El rut ya existe!")
  
  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

print(d1)

Ingrese su rut: r1
Ingrese su nombre: carlos
Ingrese apellido: madariaga
Ingrese su edad: 18
Ingrese su altura: 1.7
Desea continuar (s/n): s
Ingrese su rut: r2
Ingrese su nombre: juan
Ingrese apellido: chong
Ingrese su edad: 19
Ingrese su altura: 1.6
Desea continuar (s/n): n
{'r1': {'nombre': 'carlos', 'apellido': 'madariaga', 'edad': 18, 'altura': 1.7}, 'r2': {'nombre': 'juan', 'apellido': 'chong', 'edad': 19, 'altura': 1.6}}

In [ ]:
d1 = {'r1': {'nombre': 'carlos', 'apellido': 'madariaga', 'edad': 18, 'altura': 1.7}, 'r2': {'nombre': 'juan', 'apellido': 'chong', 'edad': 19, 'altura': 1.6}}
print(d1["r1"]["nombre"])
print(d1["r1"]["edad"])
print(d1["r2"]["apellido"])

carlos
18
chong

In [ ]:
d1 = {}
while True:
  rut = input("Ingrese su rut: ")
  if d1.get(rut) == None:
    nombre = input("Ingrese su nombre: ")
    apellido = input("Ingrese apellido: ")
    edad = int(input("Ingrese su edad: "))
    altura = float(input("Ingrese su altura: "))
    d1[rut] = [nombre,apellido,edad,altura]
  else:
    print("El rut ya existe!")
  
  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

print(d1)

Ingrese su rut: r1
Ingrese su nombre: carlos
Ingrese apellido: madariaga
Ingrese su edad: 18
Ingrese su altura: 1.7
Desea continuar (s/n): s
Ingrese su rut: r2
Ingrese su nombre: juan
Ingrese apellido: chong
Ingrese su edad: 19
Ingrese su altura: 1.6
Desea continuar (s/n): n
{'r1': ['carlos', 'madariaga', 18, 1.7], 'r2': ['juan', 'chong', 19, 1.6]}

In [ ]:
d1 = {'r1': ['carlos', 'madariaga', 18, 1.7], 'r2': ['juan', 'chong', 19, 1.6]}
print(d1['r1'][0])     #print(d1["r1"]["nombre"])
print(d1['r1'][2]) #print(d1["r1"]["edad"])
print(d1['r2'][1])   #print(d1["r2"]["apellido"])

carlos
18
chong

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
d1.pop("karla")
print(d1)

{'yarella': 18, 'juan': 19, 'seba': 21}

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
d1.pop("jose")
print(d1)

KeyError: ignored

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
valor = d1.pop("karla")
print(d1)
print(valor)

{'yarella': 18, 'juan': 19, 'seba': 21}
18

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
r = d1.setdefault("seba")
print(r)

21

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
r = d1.setdefault("jose",40)
print(r)
print(d1)

40
{'yarella': 18, 'juan': 19, 'karla': 18, 'seba': 21, 'jose': 40}

In [ ]:
d1 = {"yarella":18,"juan":19,"karla":18,"seba":21}
d2 = {"benjamin":18,"diego":19,"seba":True,"miguel":22}
d1.update(d2)
print(d1)

{'yarella': 18, 'juan': 19, 'karla': 18, 'seba': True, 'benjamin': 18, 'diego': 19, 'miguel': 22}

In [ ]:
d1 = {}
while True:
  rut = input("Ingrese su rut: ")
  if d1.get(rut) == None:
    nombre = input("Ingrese su nombre: ")
    d1.update({rut:nombre})
  else:
    print("El rut ya existe!")
  
  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

print(d1)

Ingrese su rut: r1
Ingrese su nombre: juan
Desea continuar (s/n): s
Ingrese su rut: r2
Ingrese su nombre: luis
Desea continuar (s/n): n
{'r1': 'juan', 'r2': 'luis'}

# Guia

1.	Crea un diccionario donde la clave sea el nombre del usuario y el valor sea el teléfono. Solicitar los contactos hasta que el usuario diga que no quiere insertar más. No se podrán ingresar nombres repetidos. Al final mostrar la lista de usuarios con sus teléfonos.

In [ ]:
agenda = {}
while True:
  nombre = input("Ingrese nombre: ")
  if agenda.get(nombre) == None:
      telefono = input("Ingrese telefono: ")
      agenda[nombre] = telefono
      #agenda.update({nombre:telefono})
  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

for nombre,telefono in agenda.items():
  print(f'Nombre: {nombre} Telefono: {telefono}')

Ingrese nombre: javier
Ingrese telefono: t1
Desea continuar (s/n): s
Ingrese nombre: javier
Desea continuar (s/n): s
Ingrese nombre: yarella
Ingrese telefono: t2
Desea continuar (s/n): s
Ingrese nombre: gustavo
Ingrese telefono: t3
Desea continuar (s/n): n
Nombre: javier Telefono: t1
Nombre: yarella Telefono: t2
Nombre: gustavo Telefono: t3

2.	Crear un diccionario que ingrese productos, la clave es el código y ese código tiene asociado, nombre, precio, stock. Una vez que termine debe mostrar el listado de productos dentro del diccionario. Además indicar el producto más caro y el que tiene mayor stock.

In [ ]:
productos = {}
while True:
  codigo = input("Ingrese codigo del producto: ")
  if productos.get(codigo) == None:
    nombre = input("Ingrese nombre del producto: ")
    precio = int(input("Ingrese precio del producto: "))
    stock = int(input("Ingrese stock del producto: "))
    productos[codigo] = [nombre,precio,stock]
    #productos.update({codigo:[nombre,precio,stock]})
  else:
    print("El codigo ya existe!")
  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

producto_caro = ""
producto_stock = ""
caro = 0
stock = 0
for x in productos.keys():
  if productos[x][1] > caro:
    caro = productos[x][1]
    producto_caro = productos[x][0]
  if productos[x][2] > stock:
    stock = productos[x][2]
    producto_stock = productos[x][0]

print(f"El producto más caro es: {producto_caro}")
print(f'El producto con mayor stock es: {producto_stock}')

Ingrese codigo del producto: c1
Ingrese nombre del producto: ps3
Ingrese precio del producto: 200000
Ingrese stock del producto: 2
Desea continuar (s/n): s
Ingrese codigo del producto: c2
Ingrese nombre del producto: ps4
Ingrese precio del producto: 300000
Ingrese stock del producto: 1
Desea continuar (s/n): s
Ingrese codigo del producto: c3
Ingrese nombre del producto: bici
Ingrese precio del producto: 150000
Ingrese stock del producto: 4
Desea continuar (s/n): n
El producto más caro es: ps4
El producto con mayor stock es: bici

In [ ]:
productos = {}
while True:
  codigo = input("Ingrese codigo del producto: ")
  if productos.get(codigo) == None:
    nombre = input("Ingrese nombre del producto: ")
    precio = int(input("Ingrese precio del producto: "))
    stock = int(input("Ingrese stock del producto: "))
    productos[codigo] = [nombre,precio,stock]
    #productos.update({codigo:[nombre,precio,stock]})
  else:
    print("El codigo ya existe!")
  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

producto_caro = ""
producto_stock = ""
caro = 0
stock = 0
for codigo,valores in productos.items():
  if valores[1] > caro:
    caro = valores[1]
    producto_caro = valores[0]
  if valores[2] > stock:
    stock = valores[2]
    producto_stock = valores[0]

print(f"El producto más caro es: {producto_caro}")
print(f'El producto con mayor stock es: {producto_stock}')

Ingrese codigo del producto: c1
Ingrese nombre del producto: bici
Ingrese precio del producto: 120000
Ingrese stock del producto: 4
Desea continuar (s/n): s
Ingrese codigo del producto: ps4
Ingrese nombre del producto: ps4
Ingrese precio del producto: 250000
Ingrese stock del producto: 2
Desea continuar (s/n): s
Ingrese codigo del producto: c3
Ingrese nombre del producto: ps3
Ingrese precio del producto: 135000
Ingrese stock del producto: 3
Desea continuar (s/n): n
El producto más caro es: ps4
El producto con mayor stock es: bici

In [ ]:
productos = {}
while True:
  codigo = input("Ingrese codigo del producto: ")
  if productos.get(codigo) == None:
    nombre = input("Ingrese nombre del producto: ")
    precio = int(input("Ingrese precio del producto: "))
    stock = int(input("Ingrese stock del producto: "))
    productos[codigo] = [nombre,precio,stock]
    #productos.update({codigo:[nombre,precio,stock]})
  else:
    print("El codigo ya existe!")
  opcion = input("Desea continuar (s/n): ")
  if opcion.lower() == "n":
    break

producto_caro = ""
producto_stock = ""
caro = 0
stock = 0
for valores in productos.values():
  if valores[1] > caro:
    caro = valores[1]
    producto_caro = valores[0]
  if valores[2] > stock:
    stock = valores[2]
    producto_stock = valores[0]

print(f"El producto más caro es: {producto_caro}")
print(f'El producto con mayor stock es: {producto_stock}')

3.	Crear un programa en python donde un diccionario guarde los precios de las distintas frutas. El programa pedirá el nombre de la fruta y la cantidad que se ha vendido y nos mostrará el precio final de la fruta a partir de los datos guardados en el diccionario. Si la fruta no existe nos dará un error. El usuario decide cuando terminar

In [ ]:
frutas = {"platano":1100,"naranja":900,"manzana":1200}
venta_total = 0
cant_total = 0
while True:
  nombre = input("Ingrese fruta a vender: ")
  if frutas.get(nombre.lower()) == None:
    print("La fruta no existe")
  else:
    cantidad = int(input(f"Ingrese cuant@s {nombre} desea vender: "))
    total = frutas[nombre] * cantidad
    print(f'El valor total es: {total}')
    venta_total += total
    cant_total += cantidad
  opcion = input("Desea ingresar otra venta (s/n): ")
  if opcion.lower() == "n":
    break

print(f'Los kilos vendidos fueron {cant_total} kg')
print(f'El total vendido fueron {venta_total} pesos')

Ingrese fruta a vender: platano
Ingrese cuant@s platano desea vender: 3
El valor total es: 3300
Desea ingresar otra venta (s/n): s
Ingrese fruta a vender: manzana
Ingrese cuant@s manzana desea vender: 2
El valor total es: 2400
Desea ingresar otra venta (s/n): n
Los kilos vendidos fueron 5 kg
El total vendido fueron 5700 pesos

4.	A partir de un string (formato adjunto como ejemplo), obtener un diccionario:

a = "10001-1,cemento melón,2590,140;10202-1,ladrillo fiscal,210,9000;10022- 9,ladrillo princesa,320,4000;10220-8,yeso,890,400"

In [ ]:
a = "10001-1,cemento melón,2590,140;10202-1,ladrillo fiscal,210,9000;10022- 9,ladrillo princesa,320,4000;10220-8,yeso,890,400"
lista = a.split(";")
print(lista)
productos = {}
for valores in lista:
  lista2 = valores.split(",")
  productos[lista2[0]] = [lista2[1],int(lista2[2]),int(lista2[3])]

print(productos)

['10001-1,cemento melón,2590,140', '10202-1,ladrillo fiscal,210,9000', '10022- 9,ladrillo princesa,320,4000', '10220-8,yeso,890,400']
{'10001-1': ['cemento melón', 2590, 140], '10202-1': ['ladrillo fiscal', 210, 9000], '10022- 9': ['ladrillo princesa', 320, 4000], '10220-8': ['yeso', 890, 400]}